In [1]:
import numpy as np
import pandas as pd

In [2]:
Owners = pd.read_csv("FOwners.csv")

In [3]:
Owners["Phone Number"]

0       +201000008887
1       +201118887282
2       +201026697964
3       +201278889817
4       +201005515700
            ...
2730      ** *** ****
2731    +201030061000
2732    +201030061000
2733    +201030061000
2734    +201030061000
Name: Phone Number, Length: 2735, dtype: object

In [5]:
Owners = Owners.append(pd.read_csv("P2Owners.csv"))

/tmp/ipykernel_524442/1942820966.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Owners = Owners.append(pd.read_csv("P2Owners.csv"))

In [6]:
Owners

,Unnamed: 0,Owner Name,Phone Number,Profile Link,Join Date,Extra Numbers
0,0,Egypt Motors,+201000008887,https://www.olx.com.eg/en/companies/Egypt-Moto...,Member since Jan 2016,NaN
1,1,Mostafa abd el aziz,+201118887282,https://www.olx.com.eg/en/companies/Mostafa-ab...,Member since Jun 2017,NaN
2,2,Auto 4 You,+201026697964,https://www.olx.com.eg/en/companies/auto-4-you...,Member since Sept 2020,NaN
3,3,Xtreme auto,+201278889817,https://www.olx.com.eg/en/companies/Xtreme-aut...,Member since Feb 2023,NaN
4,4,Shesheny Motors,+201005515700,https://www.olx.com.eg/en/companies/shesheny-m...,Member since Dec 2016,NaN
...,...,...,...,...,...,...
955,955,احمد,+201146376008,https://www.olx.com.eg/en/profile/f8714e19-b72...,Member since Feb 2023,NaN
956,956,OLX User,+201146256167,https://www.olx.com.eg/en/profile/590171d0-b8b...,Member since Feb 2023,NaN
957,957,Omar Eissa,+201003512720,https://www.olx.com.eg/en/profile/caf72116-52f...,Member since Mar 2018,NaN
958,958,Hamdy Abd Elbadeea,+201007614491,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,Member since Sept 2017,NaN
959,959,NaN,NaN,NaN,NaN,NaN

In [7]:
Owners.reset_index(inplace = True, drop = True)

In [8]:
Owners

,Unnamed: 0,Owner Name,Phone Number,Profile Link,Join Date,Extra Numbers
0,0,Egypt Motors,+201000008887,https://www.olx.com.eg/en/companies/Egypt-Moto...,Member since Jan 2016,NaN
1,1,Mostafa abd el aziz,+201118887282,https://www.olx.com.eg/en/companies/Mostafa-ab...,Member since Jun 2017,NaN
2,2,Auto 4 You,+201026697964,https://www.olx.com.eg/en/companies/auto-4-you...,Member since Sept 2020,NaN
3,3,Xtreme auto,+201278889817,https://www.olx.com.eg/en/companies/Xtreme-aut...,Member since Feb 2023,NaN
4,4,Shesheny Motors,+201005515700,https://www.olx.com.eg/en/companies/shesheny-m...,Member since Dec 2016,NaN
...,...,...,...,...,...,...
3690,955,احمد,+201146376008,https://www.olx.com.eg/en/profile/f8714e19-b72...,Member since Feb 2023,NaN
3691,956,OLX User,+201146256167,https://www.olx.com.eg/en/profile/590171d0-b8b...,Member since Feb 2023,NaN
3692,957,Omar Eissa,+201003512720,https://www.olx.com.eg/en/profile/caf72116-52f...,Member since Mar 2018,NaN
3693,958,Hamdy Abd Elbadeea,+201007614491,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,Member since Sept 2017,NaN
3694,959,NaN,NaN,NaN,NaN,NaN

In [10]:
Cars = pd.read_csv("FCars.csv")

In [11]:
Cars = Cars.append(pd.read_csv("P2Cars.csv"))
Cars.reset_index(inplace = True, drop = True)

/tmp/ipykernel_524442/3005441827.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Cars = Cars.append(pd.read_csv("P2Cars.csv"))

In [12]:
Cars

,Unnamed: 0,Brand,Model,Engine Capacity (CC),Transmission Type,Year,Features
0,0,Toyota,Corolla,1600,Automatic,2020.0,[]
1,1,Suzuki,Dzire,1000 - 1300,Automatic,2022.0,"['ABS', 'Air Conditioning', 'Airbags']"
2,2,MG,MG 5,1400 - 1500,Automatic,2022.0,"['ABS', 'Air Conditioning', 'Airbags', 'Alarm/..."
3,3,Skoda,Superb,1400 - 1500,Automatic,2023.0,"['ABS', 'Air Conditioning', 'Airbags', 'Alarm/..."
4,4,Audi,A3,1400 - 1500,Automatic,2022.0,"['ABS', 'Air Conditioning', 'Airbags', 'Alarm/..."
...,...,...,...,...,...,...,...
3690,955,Lada,2107,1600,Manual,2009.0,"['ABS', 'AM/FM Radio', 'Aux Audio In', 'Blueto..."
3691,956,Chevrolet,Optra,1600,Automatic,2022.0,[]
3692,957,Mercedes-Benz,GLC 300,2200 - 2800,Automatic,2019.0,[]
3693,958,Mazda,3,1600,Automatic,2008.0,"['ABS', 'Air Conditioning', 'Airbags', 'AM/FM ..."
3694,959,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
Ads = pd.read_csv("FAds.csv")

In [14]:
Ads = Ads.append(pd.read_csv("P2Ads.csv"))
Ads.reset_index(inplace = True, drop = True)

/tmp/ipykernel_524442/2781543992.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ads = Ads.append(pd.read_csv("P2Ads.csv"))

In [24]:
Ads.columns

Index(['Unnamed: 0', 'Brand', 'AD_ID', 'Transmission Type', 'Description',
       'Model', 'Year', 'Color', 'Location', 'Engine Capacity (CC)',
       'Fuel Type', 'Condition', 'Body Type', 'Kilometers', 'Payment Options',
       'OwnerProfileLink', 'user_email', 'phone_number', 'posting date',
       'link_number', 'Price'],
      dtype='object')

In [26]:
Ads["Engine Capacity (CC)"].isna().sum()

288

In [27]:
count = 0
for i in range(0, len(Ads)):
    if(Ads["phone_number"][i] == "** *** ****"):
        Ads.drop(labels=Ads.index[count], inplace = True)
        Cars.drop(labels=Cars.index[count], inplace = True)
        Owners.drop(labels=Owners.index[count], inplace = True)
        print("here")
    else:
        count += 1

here
here
here
here
here
here
here
here
here
here
here

In [31]:
Cars.reset_index(inplace = True, drop = True)
Ads.reset_index(inplace = True, drop = True)
Owners.reset_index(inplace = True, drop = True)

In [36]:
NoneArr = Ads["phone_number"].isna()

In [37]:
NoneArr

0       False
1       False
2       False
3       False
4       False
        ...
3679    False
3680    False
3681    False
3682    False
3683     True
Name: phone_number, Length: 3684, dtype: bool

In [38]:
count = 0
for i in range(0, len(Ads)):
    if(NoneArr[i] == True):
        Ads.drop(labels=Ads.index[count], inplace = True)
        Cars.drop(labels=Cars.index[count], inplace = True)
        Owners.drop(labels=Owners.index[count], inplace = True)
        print("here")
    else:
        count += 1

here

In [40]:
Ads["phone_number"]

0       +201000008887
1       +201118887282
2       +201026697964
3       +201278889817
4       +201005515700
            ...
3678    +201223309921
3679    +201146376008
3680    +201146256167
3681    +201003512720
3682    +201007614491
Name: phone_number, Length: 3683, dtype: object

In [42]:
numbers

['+201000008887',
 '+201118887282',
 '+201026697964',
 '+201278889817',
 '+201005515700',
 '+201114812283',
 '+201277774155',
 '+201102062047',
 '+201002009192',
 '+201060760555',
 '+201013757772',
 '+201203556777',
 '+201003048835',
 '+201226177005',
 '+201024392629',
 '+201026766786',
 '+201148406603',
 '+201140349661',
 '+201126556666',
 '+201008778802',
 '+201210999986',
 '+201024392629',
 '+201118887282',
 '+201126754000',
 '+201005499940',
 '+201126754000',
 '+201146520028',
 '+201122129012',
 '+201001095081',
 '+201111668788',
 '+201118912323',
 '+201027603939',
 '+201277774155',
 '+201000431196',
 '+201210999986',
 '+201288893470',
 '+201111112995',
 '+201200094588',
 '+201144091000',
 '+201024392629',
 '+201286889952',
 '+201101303334',
 '+201113119902',
 '+201110014426',
 '+201144441682',
 '+201115440267',
 '+201208888544',
 '+201065180570',
 '+201012813201',
 '+201557599750',
 '+201013193500',
 '+201050920005',
 '+201024392629',
 '+201117007849',
 '+201026697964',
 '+201121250565',
 '+201103008412',
 '+201210999986',
 '+201210999986',
 '+201289025551',
 '+201226188554',
 '+201286889776',
 '+201005499940',
 '+201210652614',
 '+201060760555',
 '+201210652614',
 '+201118606000',
 '+201115800073',
 '+201096961716',
 '+201118887282',
 '+201221072294',
 '+201203556777',
 '+201033211066',
 '+201029222233',
 '+201060760555',
 '+201000008887',
 '+201033211066',
 '+201118887282',
 '+201126754000',
 '+201229859996',
 '+201222242375',
 '+201000094257',
 '+201102062047',
 '+201024392629',
 '+201211266662',
 '+201210652614',
 '+201200006517',
 '+201005999623',
 '+201022322316',
 '+201005999623',
 '+201000507444',
 '+201005999623',
 '+201000507444',
 '+201000507444',
 '+201000507444',
 '+201095752864',
 '+201002412335',
 '+201069060105',
 '+201011164406',
 '+201116953111',
 '+201117001350',
 '+201110014426',
 '+201285888898',
 '+201114812283',
 '+201114812283',
 '+201144909007',
 '+201208888544',
 '+201208888544',
 '+201208888544',
 '+201114812283',
 '+201114812283',
 '+201277669297',
 '+201022883851',
 '+201013757772',
 '+201111405059',
 '+201224881443',
 '+201029222233',
 '+201001004321',
 '+201155881301',
 '+201016185111',
 '+201017906677',
 '+201065180570',
 '+201024410000',
 '+201024410000',
 '+201099621377',
 '+201013757772',
 '+201050534533',
 '+201278948886',
 '+201277253344',
 '+201288503999',
 '+201288893470',
 '+201123208631',
 '+201104585391',
 '+201278889846',
 '+201278889840',
 '+201278889836',
 '+201278889847',
 '+201098333971',
 '+201224053968',
 '+201200094588',
 '+201278948882',
 '+201289025551',
 '+201278889817',
 '+201278889810',
 '+201030404460',
 '+201020077488',
 '+201002412636',
 '+201028888817',
 '+201001691622',
 '+201123233335',
 '+201117001350',
 '+201094499442',
 '+201001669636',
 '+201119579033',
 '+201111201113',
 '+201222415550',
 '+201556469421',
 '+201118977208',
 '+201115704750',
 '+201285888898',
 '+201118912323',
 '+201090551309',
 '+201006680684',
 '+201289555174',
 '+201110080392',
 '+201090551309',
 '+201100110416',
 '+201110080392',
 '+201222275293',
 '+201029318014',
 '+201101201112',
 '+201144035000',
 '+201000094257',
 '+201149848484',
 '+201120399299',
 '+201090551309',
 '+201227857103',
 '+201110014426',
 '+201014295450',
 '+201110014426',
 '+201225801191',
 '+201111193573',
 '+201004307260',
 '+201069907702',
 '+201095968543',
 '+201559668864',
 '+201288884695',
 '+201221339900',
 '+201002881000',
 '+201002881000',
 '+201019152030',
 '+201020130946',
 '+201129616522',
 '+201001453062',
 '+201122129012',
 '+201122129012',
 '+201115704750',
 '+201030998003',
 '+201050993290',
 '+201099965839',
 '+201030944040',
 '+201095459554',
 '+201030998003',
 '+201030955200',
 '+201050993291',
 '+201117000320',
 '+201117000320',
 '+201019152030',
 '+201050444846',
 '+201095968543',
 '+201095968543',
 '+201150168160',
 '+201066229791',
 '+201223887052',
 '+201050995382',
 '+201116149042',
 '+201019152030',
 '+201019152030',
 '+201122129012',
 '+201117007849',
 '+201026697964',
 '+201090583598',
 '+201068304030',
 '+201000248883',
 '+201114034301',
 '+201212719042',
 '+201093459926',
 '+201008339988',
 '+201013193500',
 '+201026697964',
 '+201117007849',
 '+201146520028',
 '+201033211066',
 '+201062552225',
 '+201096022125',
 '+201033302065',
 '+201017024212',
 '+201060921564',
 '+201116567300',
 '+201224386741',
 '+201090403053',
 '+201030998003',
 '+201103338526',
 '+201115704750',
 '+201110014426',
 '+201118606000',
 '+201122129012',
 '+201122129012',
 '+201065415791',
 '+201112828448',
 '+201118960033',
 '+201100808602',
 '+201030998003',
 '+201015119153',
 '+201013193500',
 '+201117007849',
 '+201026697964',
 '+201033211066',
 '+201117007849',
 '+201062709032',
 '+201011298899',
 '+201003001129',
 '+201062666900',
 '+201113115354',
 '+201223819578',
 '+201050993290',
 '+201012302666',
 '+201288869940',
 '+201099965839',
 '+201033211066',
 '+201022078197',
 '+201222123130',
 '+201000002184',
 '+201016640069',
 '+201149178520',
 '+201276205519',
 '+201030998003',
 '+201030955200',
 '+201030944040',
 '+201112029718',
 '+201001003810',
 '+201007790034',
 '+201050993291',
 '+201000769900',
 '+201206077227',
 '+201221421155',
 '+201032579406',
 '+201024392629',
 '+201225200873',
 '+201102062047',
 '+201122002892',
 '+201158220052',
 '+201202378174',
 '+201557599750',
 '+201557599750',
 '+201557599750',
 '+201111164843',
 '+201111164843',
 '+201065180570',
 '+201033664803',
 '+201225351721',
 '+201065180570',
 '+201551751728',
 '+201125882810',
 '+201099371755',
 '+201210999986',
 '+201000248883',
 '+201112888478',
 '+201021427282',
 '+201113460843',
 '+201069352981',
 '+201021057006',
 '+201004444606',
 '+201000493376',
 '+201022228129',
 '+201149178520',
 '+201093315626',
 '+201223961035',
 '+201203333274',
 '+201125784087',
 '+201116771677',
 '+201099621377',
 '+201068382186',
 '+201226455457',
 '+201116667678',
 '+201129148841',
 '+201158471446',
 '+201001258434',
 '+201140404844',
 '+201022400460',
 '+201065097020',
 '+201067787928',
 '+201000874849',
 '+201151101498',
 '+201121900040',
 '+201067787928',
 '+201090366030',
 '+201017827279',
 '+201022078197',
 '+201009998699',
 '+201120060046',
 '+201110080392',
 '+201065415791',
 '+201065415791',
 '+201001867198',
 '+201007211114',
 '+201003887625',
 '+201090551309',
 '+201021953555',
 '+201003277123',
 '+201050222613',
 '+201060263331',
 '+201100070282',
 '+201285951808',
 '+201126556666',
 '+201126556666',
 '+201211266662',
 '+201004547461',
 '+201020436566',
 '+201065022444',
 '+201062241622',
 '+201062241622',
 '+201224596789',
 '+201116368315',
 '+201022565683',
 '+201221310617',
 '+201003335056',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201222213338',
 '+201274652093',
 '+201067600061',
 '+201558388081',
 '+201017454001',
 '+201120060046',
 '+201024392629',
 '+201210999986',
 '+201011000715',
 '+201100087289',
 '+201005220047',
 '+201015055407',
 '+201013724687',
 '+201032636666',
 '+201111129191',
 '+201203333274',
 '+201020303444',
 '+201152207522',
 '+201117018382',
 '+201221763538',
 '+201103008412',
 '+201004814977',
 '+201286400982',
 '+201007392909',
 '+201113119902',
 '+201069583111',
 '+201117387050',
 '+201002363166',
 '+201016078209',
 '+201033555595',
 '+201022078197',
 '+201001627660',
 '+201001627660',
 '+201112111774',
 '+201001627660',
 '+201020004669',
 '+201011724838',
 '+201112111774',
 '+201010315116',
 '+201024392629',
 '+201145511886',
 '+201145511886',
 '+201119991974',
 '+201006737373',
 '+201100499957',
 '+201274880589',
 '+201128994465',
 '+201098351819',
 '+201220333114',
 '+201225472000',
 '+201224930010',
 '+201001738622',
 '+201003074743',
 '+201222220657',
 '+201026214901',
 '+201111557782',
 '+201144555666',
 '+201200691111',
 '+201128011758',
 '+201111354489',
 '+201018252000',
 '+201222291118',
 '+201018252000',
 '+201018252000',
 '+201018252000',
 '+201029162339',
 '+201101557774',
 '+201201835393',
 '+201003550965',
 '+201050920004',
 '+201270642737',
 '+201125782494',
 '+201279014073',
 '+201557131677',
 '+201278339902',
 '+201007514141',
 '+201121250565',
 '+201121250565',
 '+201121250565',
 '+201111573527',
 '+201111405059',
 '+201022293793',
 '+201029400004',
 '+201029400004',
 '+201140752062',
 '+201224466662',
 '+201125243673',
 '+201110299988',
 '+201001803303',
 '+201200008636',
 '+201090551309',
 '+201228507582',
 '+201065097020',
 '+201228226050',
 '+201118292728',
 '+201101201112',
 '+201110014426',
 '+201098355711',
 '+201507331501',
 '+201013339533',
 '+201111373785',
 '+201550400032',
 '+201008226888',
 '+201003335056',
 '+201111021114',
 '+201211274813',
 '+201111164843',
 '+201001000259',
 '+201094080632',
 '+201111164843',
 '+201279778389',
 '+201111164843',
 '+201203379735',
 '+201111164843',
 '+201111164843',
 '+201122662226',
 '+201222242375',
 '+201224444953',
 '+201122662226',
 '+201092557675',
 '+201129608473',
 '+201551571439',
 '+201111254331',
 '+201099332255',
 '+201096414252',
 '+201118887282',
 '+201118887282',
 '+201118887282',
 '+201118887282',
 '+201118887282',
 '+201118887282',
 '+201008733310',
 '+201005489905',
 '+201118887282',
 '+201118887282',
 '+201118887282',
 '+201118887282',
 '+201118887282',
 '+201118887282',
 '+201118887282',
 '+201016072270',
 '+201223421537',
 '+201118887282',
 '+201118887282',
 '+201116176006',
 '+201222415550',
 '+201001310359',
 '+201225801191',
 '+201111504141',
 '+201000802412',
 '+201225801191',
 '+201200006517',
 '+201002888809',
 '+201120005385',
 '+201141515410',
 '+201148406603',
 '+201030621376',
 '+201555630405',
 '+201003293166',
 '+201004266135',
 '+201111188554',
 '+201007500004',
 '+201126754000',
 '+201220299440',
 '+201025856859',
 '+201114131355',
 '+201002206465',
 '+201068280374',
 '+201201040512',
 '+201004508180',
 '+201009946999',
 '+201009451127',
 '+201002206465',
 '+201027603939',
 '+201030323167',
 '+201227400007',
 '+201212822223',
 '+201223110593',
 '+201101316206',
 '+201101316206',
 '+201101316206',
 '+201101316206',
 '+201101316206',
 '+201101316206',
 '+201026766786',
 '+201115440267',
 '+201008782929',
 '+201501111810',
 '+201000123331',
 '+201286664441',
 '+201005191719',
 '+201140774020',
 '+201007251120',
 '+201000410244',
 '+201285888898',
 '+201275664302',
 '+201005056966',
 '+201007738562',
 '+201102062047',
 '+201000796665',
 '+201220268869',
 '+201226917737',
 '+201222167674',
 '+201002137978',
 '+201063333781',
 '+201222167674',
 '+201005515700',
 '+201005515700',
 '+201000036366',
 '+201018480986',
 '+201117018382',
 '+201017769693',
 '+201027603939',
 '+201223456773',
 '+201115768698',
 '+201008726078',
 '+201099912424',
 '+201120902086',
 '+201000008887',
 '+201117222057',
 '+201004866659',
 '+201006664220',
 '+201069749233',
 '+201008866663',
 '+201099380076',
 '+201114942294',
 '+201223741345',
 '+201021169639',
 '+201159280280',
 '+201144240000',
 '+201147681163',
 '+201111783931',
 '+201024044188',
 '+201002597310',
 '+201119281365',
 '+201555305081',
 '+201277007886',
 '+201208888544',
 '+201224952631',
 '+201221666261',
 '+201208888544',
 '+201120037445',
 '+201208888544',
 '+201005357556',
 '+201004592604',
 '+201140261612',
 '+201277722288',
 '+201208888544',
 '+201115179811',
 '+201005107986',
 '+201222337944',
 '+201099800008',
 '+201000431196',
 '+201221140008',
 '+201110089333',
 '+201004210002',
 '+201157444257',
 '+201277774155',
 '+201277774155',
 '+201277774155',
 '+201277774155',
 '+201009224717',
 '+201115704750',
 '+201004210002',
 '+201018049596',
 '+201112330469',
 '+201200009944',
 '+201507472218',
 '+201507472218',
 '+201002009192',
 '+201222299930',
 '+201202324818',
 '+201222299930',
 '+201222299930',
 '+201222299930',
 '+201222299930',
 '+201003088227',
 '+201060605260',
 '+201158651097',
 '+201028470901',
 '+201094117674',
 '+201274292970',
 '+201000221552',
 '+201004822550',
 '+201116708667',
 '+201200010850',
 '+201200010850',
 '+201008969323',
 '+201027128645',
 '+201096668000',
 '+201503500266',
 '+201099621688',
 '+201001111479',
 '+201503500366',
 '+201111115072',
 '+201000221552',
 '+201158876600',
 '+201111511223',
 '+201001815463',
 '+201030992666',
 '+201004100004',
 '+201200666020',
 '+201222259378',
 '+201202522000',
 '+201155035423',
 '+201227424767',
 '+201227119117',
 '+201060676401',
 '+201110388212',
 '+201006670350',
 '+201064265520',
 '+201146571277',
 '+201015603607',
 '+201000163892',
 '+201033073531',
 '+201060765111',
 '+201274160308',
 '+201116014731',
 '+201221072294',
 '+201228383563',
 '+201005738159',
 '+201025202269',
 '+201557277878',
 '+201005499940',
 '+201025949542',
 '+201550612954',
 '+201024383838',
 '+201018049596',
 '+201066244173',
 '+201029400004',
 '+201113649861',
 '+201201569337',
 '+201018889797',
 '+201024383838',
 '+201284870431',
 '+201120633330',
 '+201062644924',
 '+201029400004',
 '+201093937752',
 '+201093937752',
 '+201029400004',
 '+201006410049',
 '+201001557581',
 '+201029400004',
 '+201115453655',
 '+201273577998',
 '+201277160464',
 '+201005738159',
 '+201140283378',
 '+201000271249',
 '+201501199064',
 '+201283461780',
 '+201092140120',
 '+201153600654',
 '+201222198142',
 '+201030906377',
 '+201067777790',
 '+201090551309',
 '+201001095081',
 '+201001774088',
 '+201223561165',
 '+201229111220',
 '+201050855585',
 '+201200230216',
 '+201200970444',
 '+201012125676',
 '+201101201112',
 '+201220000239',
 '+201113361636',
 '+201050859125',
 '+201146554949',
 '+201009554727',
 '+201101133688',
 '+201118819938',
 '+201223550920',
 '+201002009192',
 '+201156525490',
 '+201013366111',
 '+201016016514',
 '+201001649955',
 '+201114744147',
 '+201064304141',
 '+201110370836',
 '+201000122293',
 '+201000768811',
 '+201119998989',
 '+201119998989',
 '+201206860088',
 '+201114744147',
 '+201000768811',
 '+201141422030',
 '+201208888544',
 '+201206062318',
 '+201141422030',
 '+201116975556',
 '+201012212248',
 '+201123389400',
 '+201148222369',
 '+201016045596',
 '+201118030240',
 '+201000008887',
 '+201201222446',
 '+201208888544',
 '+201208888544',
 '+201208888544',
 '+201222812488',
 '+201221213237',
 '+201099968819',
 '+201141422030',
 '+201225030830',
 '+201210999986',
 '+201023006360',
 '+201003377844',
 '+201227275451',
 '+201005830606',
 '+201002666623',
 '+201200006517',
 '+201003753619',
 '+201223408347',
 '+201097307482',
 '+201287824811',
 '+201210999986',
 '+201144035000',
 '+201281265507',
 '+201008778802',
 '+201210999986',
 '+201205668377',
 '+201156664445',
 '+201003039544',
 '+201146520028',
 '+201015790803',
 '+201553524452',
 '+201065000021',
 '+201226455457',
 '+201226455457',
 '+201147428551',
 '+201226455457',
 '+201226455457',
 '+201200006517',
 '+201140349661',
 '+201220056978',
 '+201050222613',
 '+201068777792',
 '+201117007849',
 '+201210999986',
 '+201102005922',
 '+201024392629',
 '+201102005922',
 '+201556998481',
 '+201005499940',
 '+201008914655',
 '+201032579406',
 '+201223609584',
 '+201210999986',
 '+201069064915',
 '+201226455457',
 '+201156984422',
 '+201210999986',
 '+201032579406',
 '+201210999986',
 '+201012813201',
 '+201224196616',
 '+201024392629',
 '+201223480508',
 '+201210999986',
 '+201001622444',
 '+201018049596',
 '+201141515410',
 '+201033211066',
 '+201033211066',
 '+201033211066',
 '+201024392629',
 '+201140614418',
 '+201150001218',
 '+201008092206',
 '+201026282814',
 '+201023351189',
 '+201003467071',
 '+201065000021',
 '+201112233552',
 '+201226464706',
 '+201221170000',
 '+201014298100',
 '+201097800700',
 '+201226051291',
 '+201113096678',
 '+201276632584',
 '+201066389835',
 '+201102965009',
 '+201211112281',
 '+201552554178',
 '+201065180570',
 '+201065180570',
 '+201025675277',
 '+201025675277',
 '+201222333379',
 '+201025675277',
 '+201101303334',
 '+201101303334',
 '+201007366680',
 '+201001759936',
 '+201226564460',
 '+201221666261',
 '+201002332357',
 '+201103008412',
 '+201144555666',
 '+201092222296',
 '+201124046419',
 '+201225801191',
 '+201225801191',
 '+201225801191',
 '+201225801191',
 '+201128627712',
 '+201553376531',
 '+201270661552',
 '+201286666310',
 '+201128824138',
 '+201144441682',
 '+201144441682',
 '+201144441682',
 '+201555000550',
 '+201030998003',
 '+201099965839',
 '+201030998003',
 '+201050993290',
 '+201111112995',
 '+201553376531',
 '+201061133281',
 '+201156934666',
 '+201221753115',
 '+201220333114',
 '+201204439037',
 '+201123344996',
 '+201211997949',
 '+201008687777',
 '+201222709867',
 '+201208888544',
 '+201126754000',
 '+201126754000',
 '+201208888544',
 '+201126754000',
 '+201004355969',
 '+201116263202',
 '+201121871706',
 '+201226485805',
 '+201210999986',
 '+201050920005',
 '+201210999986',
 '+201210999986',
 '+201555763461',
 '+201210999986',
 '+201148500260',
 '+201210999986',
 '+201000500378',
 '+201030287893',
 '+201006666235',
 '+201004455667',
 '+201210999986',
 '+201096343434',
 '+201210999986',
 '+201021057006',
 '+201050920005',
 '+201210999986',
 '+201210999986',
 '+201050920005',
 '+201210999986',
 '+201210999986',
 '+201023374776',
 '+201278736638',
 '+201000350072',
 '+201210114023',
 '+201210999986',
 '+201069798907',
 '+201000411486',
 '+201207008155',
 '+201010177770',
 '+201210999986',
 '+201011027676',
 '+201050090095',
 '+201050090095',
 '+201286889938',
 '+201156664445',
 '+201286889776',
 '+201286889952',
 '+201286889978',
 '+201286889775',
 '+201286889112',
 '+201286889952',
 '+201003048835',
 '+201024383838',
 '+201280390009',
 '+201026546712',
 '+201225010777',
 '+201098820805',
 '+201065552000',
 '+201065552000',
 '+201022067751',
 '+201222204527',
 '+201274465556',
 '+201129996932',
 '+201274465556',
 '+201221020002',
 '+201004976233',
 '+201113221277',
 '+201023912913',
 '+201005090691',
 '+201201306111',
 '+201122129012',
 '+201006664220',
 '+201003699018',
 '+201102062047',
 '+201102062047',
 '+201102062047',
 '+201142216847',
 '+201102062047',
 '+201102062047',
 '+201227011112',
 '+201124186309',
 '+201016542465',
 '+201005525302',
 ...]

In [44]:
NoneArr = Ads["Engine Capacity (CC)"].isna()
NoneArr

0       False
1       False
2       False
3       False
4       False
        ...
3678    False
3679    False
3680    False
3681    False
3682    False
Name: Engine Capacity (CC), Length: 3683, dtype: bool

In [45]:
count = 0
for i in range(0, len(Ads)):
    if(NoneArr[i] == True):
        Ads.drop(labels=Ads.index[count], inplace = True)
        Cars.drop(labels=Cars.index[count], inplace = True)
        Owners.drop(labels=Owners.index[count], inplace = True)
        print("here")
    else:
        count += 1

here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here

In [46]:
len(Ads)

3396

In [47]:
len(Owners)

3396

In [48]:
len(Cars)

3396

In [52]:
Ads.reset_index(inplace= True, drop = True)
Cars.reset_index(inplace= True, drop = True)

In [53]:
Owners.reset_index(inplace = True, drop = True)

In [54]:
Ads

,Unnamed: 0,Brand,AD_ID,Transmission Type,Description,Model,Year,Color,Location,Engine Capacity (CC),...,Condition,Body Type,Kilometers,Payment Options,OwnerProfileLink,user_email,phone_number,posting date,link_number,Price
0,0,Toyota,Ad id 196489274,Automatic,تويوتا كورولا 2020\nالفئة الأولى\n40 ألف كيلو\...,Corolla,2020.0,White,"Heliopolis, Cairo",1600,...,Used,Sedan,30000 to 39999,Cash,https://www.olx.com.eg/en/companies/Egypt-Moto...,NaN,+201000008887,2023-03-22,0.0,"725,000"
1,1,Suzuki,Ad id 194198611,Automatic,سوزوكي دايزاير يوجد عدة أنظمة للتقسيط تصل إلي ...,Dzire,2022.0,Other Color,"Nasr City, Cairo",1000 - 1300,...,New,Sedan,NaN,Installments,https://www.olx.com.eg/en/companies/Mostafa-ab...,NaN,+201118887282,2023-03-24,1.0,"90,000"
2,2,MG,Ad id 184729021,Automatic,اقل سعر وتسليم فوريجميع الفأت والألوان\nاستمتع...,MG 5,2022.0,Blue- Navy Blue,"Nasr City, Cairo",1400 - 1500,...,New,Sedan,NaN,Installments,https://www.olx.com.eg/en/companies/auto-4-you...,NaN,+201026697964,2023-03-25,2.0,"160,000"
3,3,Skoda,Ad id 196217849,Automatic,"سكودا سوبيرب 2022 اول قسط هدية , بدون تأمين , ...",Superb,2023.0,Blue- Navy Blue,"New Cairo - El Tagamoa, Cairo",1400 - 1500,...,New,Sedan,NaN,Installments,https://www.olx.com.eg/en/companies/Xtreme-aut...,NaN,+201278889817,2023-03-26,3.0,"413,750"
4,4,Audi,Ad id 196255693,Automatic,Audi A3 S-Line Sportback 2022\n\nRed X OffWhit...,A3,2022.0,Red,"Nasr City, Cairo",1400 - 1500,...,New,Other,NaN,Cash,https://www.olx.com.eg/en/companies/shesheny-m...,NaN,+201005515700,2023-03-24,5.0,"1,650,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,954,BMW,Ad id 196048110,Automatic,بحاله ممتازة استعمال راقى الفتيس الجديد الماتو...,X5,2007.0,NaN,"Downtown Cairo, Cairo",More than 3000,...,Used,NaN,120000 to 139999,Cash,https://www.olx.com.eg/en/profile/34895798-a88...,NaN,+201223309921,2023-02-27,4073.0,"850,000"
3392,955,Lada,Ad id 196053009,Manual,لادا روسي دواخل فابريكا رخصه سنتين,2107,2009.0,Burgundy,"Waili, Cairo",1600,...,New,Sedan,NaN,Cash,https://www.olx.com.eg/en/profile/f8714e19-b72...,NaN,+201146376008,2023-02-27,4074.0,"70,000"
3393,956,Chevrolet,Ad id 196052996,Automatic,شيفروليه اوبترا 2022\nاعلى فئه فتحه سقف فابريك...,Optra,2022.0,Gray,"Downtown Cairo, Cairo",1600,...,Used,Sedan,30000 to 39999,Cash,https://www.olx.com.eg/en/profile/590171d0-b8b...,NaN,+201146256167,2023-02-27,4075.0,"395,000"
3394,957,Mercedes-Benz,Ad id 196053001,Automatic,GLC 300 suv black color,GLC 300,2019.0,Black,"New Cairo - El Tagamoa, Cairo",2200 - 2800,...,Used,SUV,80000 to 89999,Cash,https://www.olx.com.eg/en/profile/caf72116-52f...,NaN,+201003512720,2023-02-27,4076.0,"2,600,000"
3395,958,Mazda,Ad id 196052868,Automatic,مازدا 3 موديل 2008 كاملة اوتوماتيك فتحة السقف ...,3,2008.0,Gray,"New Cairo - El Tagamoa, Cairo",1600,...,Used,Sedan,More than 200000,Cash,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,NaN,+201007614491,2023-02-27,4077.0,"265,000"

In [55]:
numbers = []
for i in range(0, len(Ads)):
    numbers.append(str(Ads["phone_number"][i]))

In [57]:
type(numbers[0])

str

In [60]:
unique = []
for i in range(0, len(Ads)):
    arr = Ads["Engine Capacity (CC)"][i].split(" ")
    unique.append(len(arr))

In [62]:
unique= np.array(unique)

In [64]:
arr = np.unique(unique)

In [65]:
arr

array([1, 3])

In [75]:
Lower_Engine_Capacity = []
Upper_Engine_Capacity = []
for i in range(0, len(Ads)):
    arr = Ads["Engine Capacity (CC)"][i].split(" ")
    if(arr[0] == "More" or arr[0] == "Lower"):
        Lower_Engine_Capacity.append(arr[2])
        Upper_Engine_Capacity.append(arr[2])
    elif(len(arr) == 1 ):
        Lower_Engine_Capacity.append(arr[0])
        Upper_Engine_Capacity.append(arr[0])
    
    else:
        Lower_Engine_Capacity.append(arr[0])
        Upper_Engine_Capacity.append(arr[2])

In [76]:
Lower_Engine_Capacity

['1600',
 '1000',
 '1400',
 '1400',
 '1400',
 '1600',
 '2200',
 '3000',
 '3000',
 '1600',
 '2200',
 '1600',
 '1600',
 '1600',
 '1800',
 '1600',
 '1000',
 '1800',
 '1600',
 '1600',
 '1600',
 '1400',
 '1800',
 '1600',
 '1400',
 '1400',
 '1000',
 '1400',
 '1600',
 '1600',
 '1600',
 '1800',
 '1600',
 '1000',
 '1600',
 '1600',
 '1400',
 '1800',
 '1600',
 '1000',
 '1600',
 '1800',
 '1800',
 '1600',
 '1800',
 '3000',
 '1400',
 '2200',
 '1400',
 '1600',
 '1600',
 '1400',
 '1400',
 '3000',
 '1400',
 '1400',
 '1400',
 '1400',
 '1000',
 '1600',
 '3000',
 '2200',
 '1800',
 '1600',
 '1400',
 '1400',
 '1600',
 '1000',
 '1400',
 '3000',
 '1600',
 '1800',
 '1600',
 '1400',
 '1800',
 '3000',
 '1600',
 '2200',
 '3000',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '1400',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '1800',
 '1600',
 '1600',
 '1600',
 '1800',
 '1800',
 '1800',
 '1600',
 '1600',
 '1400',
 '1600',
 '1600',
 '1600',
 '3000',
 '3000',
 '1600',
 '1000',
 '1800',
 '3000',
 '1400',
 '3000',
 '1400',
 '1600',
 '2200',
 '1800',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '1000',
 '1400',
 '1800',
 '1600',
 '1400',
 '1400',
 '1400',
 '1400',
 '1600',
 '1600',
 '1400',
 '1600',
 '1600',
 '1400',
 '1600',
 '1000',
 '3000',
 '1600',
 '1400',
 '1600',
 '1400',
 '1600',
 '1800',
 '1600',
 '1400',
 '1800',
 '1600',
 '1800',
 '1600',
 '1600',
 '1400',
 '1600',
 '1400',
 '0',
 '3000',
 '1600',
 '1600',
 '1400',
 '1600',
 '1600',
 '1600',
 '1600',
 '3000',
 '1000',
 '1600',
 '1800',
 '1800',
 '1400',
 '3000',
 '1600',
 '1000',
 '3000',
 '1400',
 '1000',
 '1600',
 '1600',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '0',
 '1400',
 '1400',
 '1600',
 '3000',
 '1000',
 '1600',
 '1600',
 '3000',
 '1400',
 '1600',
 '1600',
 '1600',
 '1600',
 '1400',
 '1800',
 '1600',
 '3000',
 '1600',
 '1600',
 '1600',
 '1600',
 '1400',
 '1400',
 '1400',
 '1400',
 '1000',
 '1400',
 '1400',
 '1600',
 '1600',
 '1800',
 '1000',
 '1400',
 '1400',
 '1400',
 '1400',
 '1600',
 '1800',
 '1400',
 '1400',
 '1600',
 '1400',
 '1600',
 '1600',
 '1400',
 '1600',
 '1400',
 '1400',
 '1400',
 '1800',
 '1400',
 '2200',
 '1600',
 '1400',
 '1800',
 '1600',
 '1000',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1600',
 '1600',
 '1400',
 '1800',
 '1600',
 '3000',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1600',
 '1400',
 '1400',
 '1800',
 '1600',
 '1600',
 '1600',
 '3000',
 '3000',
 '3000',
 '1400',
 '2200',
 '1600',
 '1400',
 '1000',
 '1000',
 '3000',
 '1600',
 '1600',
 '3000',
 '1400',
 '1600',
 '1600',
 '2200',
 '1400',
 '1600',
 '1600',
 '1600',
 '1400',
 '1600',
 '1600',
 '1600',
 '1600',
 '1000',
 '1600',
 '1600',
 '1000',
 '1600',
 '1600',
 '1600',
 '1400',
 '1400',
 '1600',
 '1800',
 '1400',
 '1600',
 '1600',
 '1400',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '3000',
 '1800',
 '1800',
 '1600',
 '1600',
 '1400',
 '1600',
 '1400',
 '1600',
 '1400',
 '3000',
 '3000',
 '1600',
 '1600',
 '1600',
 '1800',
 '1800',
 '2200',
 '1400',
 '1600',
 '1400',
 '1600',
 '1000',
 '1600',
 '1600',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1000',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1600',
 '1400',
 '1600',
 '1600',
 '1800',
 '1600',
 '1400',
 '1400',
 '1600',
 '1600',
 '1600',
 '1600',
 '1400',
 '1600',
 '1600',
 '1000',
 '3000',
 '1400',
 '1600',
 '1800',
 '1600',
 '1000',
 '0',
 '1400',
 '1600',
 '1600',
 '1600',
 '1400',
 '1600',
 '2200',
 '1600',
 '1600',
 '1600',
 '1400',
 '1600',
 '1800',
 '1800',
 '1800',
 '1000',
 '1600',
 '1800',
 '1800',
 '1800',
 '1600',
 '3000',
 '1600',
 '1400',
 '1800',
 '1400',
 '1800',
 '1600',
 '1600',
 '3000',
 '1800',
 '3000',
 '3000',
 '3000',
 '1000',
 '1600',
 '1600',
 '1600',
 '1600',
 '1400',
 '1000',
 '1400',
 '1400',
 '1600',
 '1800',
 '3000',
 '1800',
 '1800',
 '1600',
 '1600',
 '1600',
 '3000',
 '3000',
 '1000',
 '1600',
 '1600',
 '1400',
 '2200',
 '1600',
 '1600',
 '1400',
 '3000',
 '1400',
 '3000',
 '1600',
 '1800',
 '1600',
 '1000',
 '1600',
 '3000',
 '3000',
 '1400',
 '1400',
 '1600',
 '3000',
 '1600',
 '1800',
 '1600',
 '1400',
 '3000',
 '1400',
 '1400',
 '1800',
 '1600',
 '1600',
 '3000',
 '1600',
 '1000',
 '1000',
 '1600',
 '1400',
 '1400',
 '1400',
 '1600',
 '1400',
 '1000',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1000',
 '1600',
 '3000',
 '1400',
 '1400',
 '1600',
 '1600',
 '1400',
 '1000',
 '1600',
 '1600',
 '1400',
 '3000',
 '1400',
 '1600',
 '1600',
 '1800',
 '1600',
 '1400',
 '1400',
 '1600',
 '3000',
 '2200',
 '1000',
 '1600',
 '1600',
 '1600',
 '1400',
 '3000',
 '1000',
 '3000',
 '1600',
 '1800',
 '1600',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1400',
 '1800',
 '1600',
 '1800',
 '1000',
 '1600',
 '2200',
 '1600',
 '1600',
 '1600',
 '1600',
 '1800',
 '1000',
 '1600',
 '1600',
 '1800',
 '1600',
 '1600',
 '1000',
 '1600',
 '1600',
 '3000',
 '1400',
 '1400',
 '3000',
 '1800',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '0',
 '1400',
 '1600',
 '1600',
 '1600',
 '1000',
 '1800',
 '1400',
 '1400',
 '1000',
 '1000',
 '1600',
 '1600',
 '1400',
 '1400',
 '1600',
 '1000',
 '1000',
 '1400',
 '3000',
 '1600',
 '1800',
 '1600',
 '3000',
 '2200',
 '1400',
 '1800',
 '1800',
 '1600',
 '1000',
 '1400',
 '1600',
 '1600',
 '1400',
 '1400',
 '1600',
 '1600',
 '3000',
 '1800',
 '1600',
 '2200',
 '1600',
 '1400',
 '1600',
 '1800',
 '1800',
 '1600',
 '1600',
 '1800',
 '3000',
 '3000',
 '1600',
 '3000',
 '3000',
 '3000',
 '3000',
 '1000',
 '2200',
 '1600',
 '1400',
 '1600',
 '3000',
 '1600',
 '1600',
 '1400',
 '1800',
 '1800',
 '1400',
 '1000',
 '1800',
 '1800',
 '1600',
 '1800',
 '1400',
 '1600',
 '3000',
 '1600',
 '3000',
 '1400',
 '1600',
 '1400',
 '1800',
 '1800',
 '1600',
 '1600',
 '1400',
 '1600',
 '1400',
 '1600',
 '1400',
 '1600',
 '1400',
 '1600',
 '3000',
 '0',
 '1400',
 '1600',
 '1600',
 '1400',
 '1000',
 '3000',
 '1600',
 '1600',
 '1600',
 '1800',
 '1400',
 '1400',
 '2200',
 '1600',
 '1600',
 '1400',
 '3000',
 '1600',
 '1800',
 '1600',
 '3000',
 '1600',
 '1400',
 '3000',
 '1800',
 '1600',
 '1600',
 '1000',
 '1000',
 '1600',
 '1600',
 '1600',
 '1000',
 '3000',
 '1400',
 '3000',
 '1600',
 '1400',
 '1600',
 '1600',
 '3000',
 '1600',
 '1600',
 '3000',
 '1600',
 '1400',
 '1600',
 '1600',
 '1600',
 '1400',
 '1600',
 '1800',
 '1600',
 '1600',
 '1600',
 '1400',
 '1600',
 '1800',
 '1600',
 '1800',
 '3000',
 '1600',
 '1400',
 '1800',
 '1400',
 '1600',
 '1600',
 '3000',
 '1600',
 '1400',
 '1800',
 '1600',
 '1400',
 '1600',
 '1600',
 '1800',
 '1600',
 '1400',
 '1600',
 '1400',
 '1000',
 '1000',
 '1800',
 '1600',
 '1000',
 '1000',
 '1600',
 '1000',
 '1400',
 '1600',
 '1600',
 '1400',
 '1600',
 '1600',
 '1400',
 '1400',
 '1600',
 '1400',
 '1400',
 '1400',
 '1600',
 '1400',
 '1400',
 '1400',
 '1600',
 '1400',
 '1600',
 '1800',
 '1400',
 '1600',
 '1600',
 '1000',
 '1400',
 '1600',
 '1400',
 '1000',
 '1400',
 '1600',
 '1400',
 '1600',
 '1600',
 '1000',
 '1400',
 '1600',
 '1000',
 '1400',
 '1600',
 '1400',
 '1600',
 '1400',
 '1400',
 '1600',
 '1800',
 '3000',
 '1400',
 '1600',
 '1400',
 '1400',
 '1800',
 '1400',
 '1400',
 '1600',
 '1800',
 '1400',
 '1600',
 '1400',
 '1800',
 '1000',
 '1600',
 '1000',
 '1800',
 '1000',
 '1600',
 '1400',
 '1400',
 '1600',
 '1600',
 '1600',
 '1000',
 '1400',
 '1400',
 '1600',
 '1400',
 '1000',
 '1600',
 '1600',
 '1600',
 '1400',
 '1600',
 '1600',
 '1400',
 '1600',
 '0',
 '1000',
 '1600',
 '1400',
 '1600',
 '1600',
 '1800',
 '1600',
 '1000',
 '1000',
 '1800',
 '1600',
 '1600',
 '1800',
 '3000',
 '1400',
 '1800',
 '1400',
 '1400',
 '1400',
 '1600',
 '1600',
 '1600',
 '1000',
 '1600',
 '1600',
 '1600',
 '1600',
 '3000',
 '3000',
 '1000',
 '3000',
 '1400',
 '3000',
 '1800',
 '3000',
 '1000',
 '1600',
 '1600',
 '1600',
 '3000',
 '1600',
 '1600',
 '1600',
 '1400',
 '1400',
 '1000',
 '1600',
 '1800',
 '1800',
 '1600',
 '1400',
 '1800',
 '1400',
 '3000',
 '1600',
 '1000',
 '1000',
 '1600',
 '1600',
 '1400',
 '1600',
 '1400',
 '1400',
 '1400',
 '1400',
 '1600',
 '1400',
 '1800',
 '1400',
 '1600',
 '1800',
 '3000',
 '2200',
 '1000',
 '1600',
 '1400',
 '1800',
 '1400',
 '1800',
 '1600',
 '1600',
 '1800',
 '1800',
 '1600',
 '1600',
 '1400',
 '1600',
 '2200',
 '1600',
 '1800',
 '1400',
 '1400',
 '1600',
 '1000',
 '1800',
 '1600',
 '3000',
 '3000',
 '3000',
 '3000',
 '1800',
 '1800',
 '1000',
 '1600',
 '1400',
 '1400',
 '3000',
 '3000',
 '2200',
 '1000',
 '3000',
 '1600',
 '1400',
 '1800',
 '1600',
 '1400',
 '3000',
 '1400',
 '1400',
 '3000',
 '1000',
 '1600',
 '1600',
 '1000',
 '1000',
 '1800',
 '2200',
 '1600',
 '1600',
 '1600',
 '1600',
 '1000',
 '1800',
 '1600',
 '1600',
 '1400',
 '1000',
 '1600',
 '1000',
 '1400',
 '3000',
 '1000',
 '1600',
 '1000',
 '1600',
 '1400',
 '1800',
 '1600',
 '1600',
 '1400',
 '1800',
 '1800',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '1600',
 '0',
 '3000',
 '1400',
 '3000',
 '1800',
 '1400',
 '1600',
 '1600',
 '1800',
 '1600',
 '1000',
 '1400',
 '1400',
 '1600',
 '1400',
 '1600',
 '0',
 '1400',
 '1600',
 '1600',
 '1600',
 '2200',
 '1400',
 '3000',
 '1600',
 ...]

In [77]:
Ads["Lower_Engine_Capacity"] = Lower_Engine_Capacity
Ads["Upper_Engine_Capacity"] = Upper_Engine_Capacity

In [80]:
Ads.drop("Engine Capacity (CC)", inplace = True, axis = 1)

In [81]:
Ads

,Unnamed: 0,Brand,AD_ID,Transmission Type,Description,Model,Year,Color,Location,Fuel Type,...,Kilometers,Payment Options,OwnerProfileLink,user_email,phone_number,posting date,link_number,Price,Lower_Engine_Capacity,Upper_Engine_Capacity
0,0,Toyota,Ad id 196489274,Automatic,تويوتا كورولا 2020\nالفئة الأولى\n40 ألف كيلو\...,Corolla,2020.0,White,"Heliopolis, Cairo",Benzine,...,30000 to 39999,Cash,https://www.olx.com.eg/en/companies/Egypt-Moto...,NaN,+201000008887,2023-03-22,0.0,"725,000",1600,1600
1,1,Suzuki,Ad id 194198611,Automatic,سوزوكي دايزاير يوجد عدة أنظمة للتقسيط تصل إلي ...,Dzire,2022.0,Other Color,"Nasr City, Cairo",Benzine,...,NaN,Installments,https://www.olx.com.eg/en/companies/Mostafa-ab...,NaN,+201118887282,2023-03-24,1.0,"90,000",1000,1300
2,2,MG,Ad id 184729021,Automatic,اقل سعر وتسليم فوريجميع الفأت والألوان\nاستمتع...,MG 5,2022.0,Blue- Navy Blue,"Nasr City, Cairo",Benzine,...,NaN,Installments,https://www.olx.com.eg/en/companies/auto-4-you...,NaN,+201026697964,2023-03-25,2.0,"160,000",1400,1500
3,3,Skoda,Ad id 196217849,Automatic,"سكودا سوبيرب 2022 اول قسط هدية , بدون تأمين , ...",Superb,2023.0,Blue- Navy Blue,"New Cairo - El Tagamoa, Cairo",Benzine,...,NaN,Installments,https://www.olx.com.eg/en/companies/Xtreme-aut...,NaN,+201278889817,2023-03-26,3.0,"413,750",1400,1500
4,4,Audi,Ad id 196255693,Automatic,Audi A3 S-Line Sportback 2022\n\nRed X OffWhit...,A3,2022.0,Red,"Nasr City, Cairo",Benzine,...,NaN,Cash,https://www.olx.com.eg/en/companies/shesheny-m...,NaN,+201005515700,2023-03-24,5.0,"1,650,000",1400,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,954,BMW,Ad id 196048110,Automatic,بحاله ممتازة استعمال راقى الفتيس الجديد الماتو...,X5,2007.0,NaN,"Downtown Cairo, Cairo",Benzine,...,120000 to 139999,Cash,https://www.olx.com.eg/en/profile/34895798-a88...,NaN,+201223309921,2023-02-27,4073.0,"850,000",3000,3000
3392,955,Lada,Ad id 196053009,Manual,لادا روسي دواخل فابريكا رخصه سنتين,2107,2009.0,Burgundy,"Waili, Cairo",Benzine,...,NaN,Cash,https://www.olx.com.eg/en/profile/f8714e19-b72...,NaN,+201146376008,2023-02-27,4074.0,"70,000",1600,1600
3393,956,Chevrolet,Ad id 196052996,Automatic,شيفروليه اوبترا 2022\nاعلى فئه فتحه سقف فابريك...,Optra,2022.0,Gray,"Downtown Cairo, Cairo",Benzine,...,30000 to 39999,Cash,https://www.olx.com.eg/en/profile/590171d0-b8b...,NaN,+201146256167,2023-02-27,4075.0,"395,000",1600,1600
3394,957,Mercedes-Benz,Ad id 196053001,Automatic,GLC 300 suv black color,GLC 300,2019.0,Black,"New Cairo - El Tagamoa, Cairo",Benzine,...,80000 to 89999,Cash,https://www.olx.com.eg/en/profile/caf72116-52f...,NaN,+201003512720,2023-02-27,4076.0,"2,600,000",2200,2800
3395,958,Mazda,Ad id 196052868,Automatic,مازدا 3 موديل 2008 كاملة اوتوماتيك فتحة السقف ...,3,2008.0,Gray,"New Cairo - El Tagamoa, Cairo",Benzine,...,More than 200000,Cash,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,NaN,+201007614491,2023-02-27,4077.0,"265,000",1600,1600

In [82]:
Cars["Lower_Engine_Capacity"] = Lower_Engine_Capacity
Cars["Upper_Engine_Capacity"] = Upper_Engine_Capacity

In [83]:
Cars.drop("Engine Capacity (CC)", inplace = True, axis = 1)

In [84]:
Cars

,Unnamed: 0,Brand,Model,Transmission Type,Year,Features,Lower_Engine_Capacity,Upper_Engine_Capacity
0,0,Toyota,Corolla,Automatic,2020.0,[],1600,1600
1,1,Suzuki,Dzire,Automatic,2022.0,"['ABS', 'Air Conditioning', 'Airbags']",1000,1300
2,2,MG,MG 5,Automatic,2022.0,"['ABS', 'Air Conditioning', 'Airbags', 'Alarm/...",1400,1500
3,3,Skoda,Superb,Automatic,2023.0,"['ABS', 'Air Conditioning', 'Airbags', 'Alarm/...",1400,1500
4,4,Audi,A3,Automatic,2022.0,"['ABS', 'Air Conditioning', 'Airbags', 'Alarm/...",1400,1500
...,...,...,...,...,...,...,...,...
3391,954,BMW,X5,Automatic,2007.0,[],3000,3000
3392,955,Lada,2107,Manual,2009.0,"['ABS', 'AM/FM Radio', 'Aux Audio In', 'Blueto...",1600,1600
3393,956,Chevrolet,Optra,Automatic,2022.0,[],1600,1600
3394,957,Mercedes-Benz,GLC 300,Automatic,2019.0,[],2200,2800
3395,958,Mazda,3,Automatic,2008.0,"['ABS', 'Air Conditioning', 'Airbags', 'AM/FM ...",1600,1600

In [86]:
IDs= []
for i in range(0, len(Ads)):
    arr = Ads["AD_ID"][i].split(" ")
    IDs.append(arr[2])

In [91]:
Ads["AD_ID"] = IDs

In [92]:
Ads

,Unnamed: 0,Brand,AD_ID,Transmission Type,Description,Model,Year,Color,Location,Fuel Type,...,Kilometers,Payment Options,OwnerProfileLink,user_email,phone_number,posting date,link_number,Price,Lower_Engine_Capacity,Upper_Engine_Capacity
0,0,Toyota,196489274,Automatic,تويوتا كورولا 2020\nالفئة الأولى\n40 ألف كيلو\...,Corolla,2020.0,White,"Heliopolis, Cairo",Benzine,...,30000 to 39999,Cash,https://www.olx.com.eg/en/companies/Egypt-Moto...,NaN,+201000008887,2023-03-22,0.0,"725,000",1600,1600
1,1,Suzuki,194198611,Automatic,سوزوكي دايزاير يوجد عدة أنظمة للتقسيط تصل إلي ...,Dzire,2022.0,Other Color,"Nasr City, Cairo",Benzine,...,NaN,Installments,https://www.olx.com.eg/en/companies/Mostafa-ab...,NaN,+201118887282,2023-03-24,1.0,"90,000",1000,1300
2,2,MG,184729021,Automatic,اقل سعر وتسليم فوريجميع الفأت والألوان\nاستمتع...,MG 5,2022.0,Blue- Navy Blue,"Nasr City, Cairo",Benzine,...,NaN,Installments,https://www.olx.com.eg/en/companies/auto-4-you...,NaN,+201026697964,2023-03-25,2.0,"160,000",1400,1500
3,3,Skoda,196217849,Automatic,"سكودا سوبيرب 2022 اول قسط هدية , بدون تأمين , ...",Superb,2023.0,Blue- Navy Blue,"New Cairo - El Tagamoa, Cairo",Benzine,...,NaN,Installments,https://www.olx.com.eg/en/companies/Xtreme-aut...,NaN,+201278889817,2023-03-26,3.0,"413,750",1400,1500
4,4,Audi,196255693,Automatic,Audi A3 S-Line Sportback 2022\n\nRed X OffWhit...,A3,2022.0,Red,"Nasr City, Cairo",Benzine,...,NaN,Cash,https://www.olx.com.eg/en/companies/shesheny-m...,NaN,+201005515700,2023-03-24,5.0,"1,650,000",1400,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,954,BMW,196048110,Automatic,بحاله ممتازة استعمال راقى الفتيس الجديد الماتو...,X5,2007.0,NaN,"Downtown Cairo, Cairo",Benzine,...,120000 to 139999,Cash,https://www.olx.com.eg/en/profile/34895798-a88...,NaN,+201223309921,2023-02-27,4073.0,"850,000",3000,3000
3392,955,Lada,196053009,Manual,لادا روسي دواخل فابريكا رخصه سنتين,2107,2009.0,Burgundy,"Waili, Cairo",Benzine,...,NaN,Cash,https://www.olx.com.eg/en/profile/f8714e19-b72...,NaN,+201146376008,2023-02-27,4074.0,"70,000",1600,1600
3393,956,Chevrolet,196052996,Automatic,شيفروليه اوبترا 2022\nاعلى فئه فتحه سقف فابريك...,Optra,2022.0,Gray,"Downtown Cairo, Cairo",Benzine,...,30000 to 39999,Cash,https://www.olx.com.eg/en/profile/590171d0-b8b...,NaN,+201146256167,2023-02-27,4075.0,"395,000",1600,1600
3394,957,Mercedes-Benz,196053001,Automatic,GLC 300 suv black color,GLC 300,2019.0,Black,"New Cairo - El Tagamoa, Cairo",Benzine,...,80000 to 89999,Cash,https://www.olx.com.eg/en/profile/caf72116-52f...,NaN,+201003512720,2023-02-27,4076.0,"2,600,000",2200,2800
3395,958,Mazda,196052868,Automatic,مازدا 3 موديل 2008 كاملة اوتوماتيك فتحة السقف ...,3,2008.0,Gray,"New Cairo - El Tagamoa, Cairo",Benzine,...,More than 200000,Cash,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,NaN,+201007614491,2023-02-27,4077.0,"265,000",1600,1600

In [96]:
prices = []
for i in range(0,len(Ads)):
    target = ""
    for j in range(0, len(Ads["Price"][i])):
        if(Ads["Price"][i][j] !=  ","):
            target = target +(Ads["Price"][i][j])
    prices.append(int(target))

In [97]:
prices

[725000,
 90000,
 160000,
 413750,
 1650000,
 1480000,
 1200000,
 10000000,
 6800000,
 850000,
 68000,
 635000,
 64000,
 435000,
 1000000,
 140000,
 488000,
 3300000,
 980000,
 250000,
 470000,
 110000,
 3900000,
 500000,
 2300000,
 350000,
 630000,
 1700000,
 170000,
 1150000,
 510000,
 850000,
 875000,
 130000,
 190500,
 495000,
 76600,
 1600000,
 605000,
 1000000,
 980000,
 2000000,
 585000,
 300000,
 4100000,
 5200000,
 2950000,
 780000,
 450000,
 1400000,
 470000,
 100000,
 160000,
 7500000,
 2950000,
 330000,
 260000,
 495000,
 140000,
 345000,
 200000,
 300000,
 3400000,
 720000,
 700000,
 172000,
 707000,
 53000,
 1200000,
 1450000,
 725000,
 2600000,
 125000,
 1450000,
 1825000,
 2750000,
 295000,
 7500000,
 260000,
 325000,
 815000,
 1670000,
 475000,
 1100000,
 250000,
 700000,
 685000,
 290000,
 445000,
 255000,
 785000,
 320000,
 375000,
 485000,
 2500000,
 1525000,
 1500000,
 246000,
 4100000,
 3350000,
 3850000,
 1500000,
 1480000,
 135000,
 850000,
 790000,
 190000,
 1450000,
 2500000,
 360000,
 260000,
 1750000,
 2500000,
 1350000,
 3200000,
 119250,
 223250,
 500000,
 1200000,
 190500,
 410000,
 1300000,
 345000,
 143000,
 133750,
 176000,
 2850000,
 480000,
 76600,
 237500,
 495000,
 413750,
 325000,
 350000,
 1175000,
 850000,
 400000,
 950000,
 325000,
 660000,
 1375000,
 250000,
 820000,
 560000,
 700000,
 550000,
 4500000,
 1150000,
 1100000,
 750000,
 655000,
 1370000,
 110000,
 2420000,
 470000,
 425000,
 1000000,
 2250000,
 1980000,
 175000,
 500000,
 1220000,
 870000,
 375000,
 275000,
 595000,
 780000,
 210000,
 560000,
 3050000,
 2875000,
 380000,
 1550000,
 625000,
 548000,
 2200000,
 270000,
 770000,
 1695000,
 1150000,
 400000,
 450000,
 370000,
 355000,
 315000,
 155000,
 465000,
 420000,
 838000,
 450000,
 2650000,
 570000,
 875000,
 750000,
 395000,
 285000,
 432000,
 430000,
 735000,
 450000,
 450000,
 695000,
 5600000,
 570000,
 185000,
 400000,
 721000,
 1500000,
 450000,
 107000,
 100000,
 110000,
 1250000,
 840000,
 250000,
 610000,
 2150000,
 1100000,
 395000,
 20000,
 375000,
 415000,
 820000,
 3400000,
 590000,
 625000,
 175000,
 375000,
 260000,
 358000,
 215000,
 420000,
 155000,
 150000,
 160000,
 2150000,
 106000,
 550000,
 110000,
 500000,
 975000,
 345000,
 55000,
 375000,
 325000,
 880000,
 310000,
 1200000,
 360000,
 2050000,
 405000,
 3590000,
 495000,
 1910000,
 295000,
 335000,
 320000,
 815000,
 845000,
 1070000,
 285000,
 325000,
 2450000,
 638000,
 395000,
 295000,
 2750000,
 600000,
 3900000,
 2990000,
 780000,
 550000,
 540000,
 1375000,
 1375000,
 2600000,
 290000,
 269000,
 2600000,
 1600000,
 385000,
 670000,
 600000,
 230000,
 385000,
 365000,
 220000,
 745000,
 950000,
 525000,
 850000,
 440000,
 370000,
 1880000,
 2750000,
 1580000,
 935000,
 1050000,
 290000,
 120000,
 137000,
 550000,
 455000,
 400000,
 410000,
 300000,
 400000,
 210000,
 730000,
 340000,
 515000,
 715000,
 990000,
 1250000,
 4200000,
 405000,
 310000,
 350000,
 585000,
 270000,
 395000,
 1950000,
 18000,
 6400000,
 855000,
 200000,
 875000,
 3300000,
 3100000,
 7500000,
 305000,
 35000,
 1750000,
 925000,
 300000,
 285000,
 320000,
 395000,
 430000,
 132000,
 195000,
 165000,
 220000,
 210000,
 100000,
 202000,
 300000,
 785000,
 170000,
 860000,
 320000,
 110000,
 780000,
 390000,
 900000,
 340000,
 830000,
 5700000,
 435000,
 315000,
 580000,
 1200000,
 480000,
 1700000,
 820000,
 540000,
 475000,
 2700000,
 1850000,
 8500000,
 114000,
 430000,
 1675000,
 125000,
 35000,
 85000,
 3100000,
 340000,
 345000,
 255000,
 250000,
 345000,
 665000,
 1250000,
 435000,
 188000,
 1150000,
 605000,
 2250000,
 1350000,
 3000000,
 520000,
 415000,
 450000,
 1650000,
 330000,
 400000,
 1085000,
 480000,
 376000,
 155000,
 380000,
 540000,
 950000,
 385000,
 4500000,
 3500000,
 6000000,
 6250000,
 4500000,
 95000,
 330000,
 410000,
 200000,
 1400000,
 1750000,
 45000,
 850000,
 120000,
 2350000,
 280000,
 7500000,
 3850000,
 3600000,
 285000,
 465000,
 410000,
 3540000,
 1860000,
 150000,
 295000,
 240000,
 695000,
 450000,
 1070000,
 355000,
 700000,
 310000,
 2700000,
 1280000,
 490000,
 1800000,
 1500000,
 850000,
 420000,
 138000,
 1050000,
 830000,
 1570000,
 1800000,
 320000,
 320000,
 2250000,
 720000,
 2650000,
 3500000,
 2700000,
 3250000,
 2550000,
 610000,
 320000,
 5300000,
 410000,
 480000,
 920000,
 365000,
 172000,
 140000,
 150000,
 400000,
 54000,
 35000,
 280000,
 150000,
 110000,
 150000,
 212000,
 120000,
 60000,
 90000,
 900000,
 375000,
 70000,
 130000,
 2050000,
 285000,
 1050000,
 375000,
 450000,
 225000,
 525000,
 370000,
 1380000,
 565000,
 140000,
 140000,
 492000,
 560000,
 550000,
 1020000,
 7000000,
 360000,
 60000,
 575000,
 450000,
 595000,
 1300000,
 1150000,
 85000,
 575000,
 545000,
 1600000,
 600000,
 540000,
 850000,
 550000,
 720000,
 660000,
 520000,
 1000000,
 300000,
 155000,
 110000,
 140000,
 1450000,
 175000,
 265000,
 325000,
 493000,
 6200000,
 160000,
 370000,
 440000,
 1850000,
 800000,
 80000,
 220000,
 1400000,
 295000,
 2800000,
 1650000,
 3000000,
 2400000,
 2375000,
 135000,
 430000,
 510000,
 1850000,
 320000,
 1200000,
 1450000,
 190000,
 550000,
 1250000,
 110000,
 1550000,
 110000,
 1400000,
 115000,
 237000,
 355000,
 35000,
 275000,
 1250000,
 205000,
 317000,
 35000,
 465000,
 7000000,
 505000,
 4050000,
 235000,
 5750000,
 720000,
 340000,
 3000000,
 4750000,
 1050000,
 1190000,
 780000,
 720000,
 875000,
 320000,
 240000,
 750000,
 200000,
 1280000,
 850000,
 450000,
 1200000,
 320000,
 455000,
 725000,
 2400000,
 495000,
 325000,
 275000,
 260000,
 6800000,
 600000,
 230000,
 900000,
 1100000,
 1500000,
 720000,
 195000,
 127000,
 355000,
 725000,
 390000,
 400000,
 440000,
 130000,
 585000,
 3600000,
 2550000,
 340000,
 130000,
 1200000,
 3400000,
 342000,
 500000,
 2700000,
 555000,
 1400000,
 900000,
 2850000,
 545000,
 2200000,
 260000,
 2800000,
 1630000,
 520000,
 1100000,
 187000,
 615000,
 75000,
 410000,
 310000,
 260000,
 395000,
 385000,
 1600000,
 46000,
 320000,
 707000,
 460000,
 509000,
 53000,
 700000,
 500000,
 225000,
 190000,
 3700000,
 645000,
 120000,
 1460000,
 730000,
 260000,
 700000,
 3200000,
 70000,
 300000,
 355000,
 1140000,
 40000,
 60000,
 5400000,
 630000,
 120000,
 1080000,
 210000,
 556000,
 240000,
 245000,
 420000,
 246000,
 745000,
 600000,
 669000,
 350000,
 215000,
 540000,
 485000,
 3500000,
 475000,
 950000,
 1500000,
 800000,
 430000,
 850000,
 200000,
 195000,
 1225000,
 520000,
 880000,
 550000,
 650000,
 560000,
 2900000,
 490000,
 3100000,
 750000,
 75000,
 1950000,
 520000,
 185000,
 2500000,
 350000,
 345000,
 1650000,
 1000000,
 570000,
 400000,
 1245000,
 760000,
 1375000,
 580000,
 380000,
 100000,
 275000,
 910000,
 725000,
 560000,
 2450000,
 2650000,
 3350000,
 600000,
 37000,
 40000,
 685000,
 410000,
 350000,
 515000,
 260000,
 1490000,
 325000,
 445000,
 920000,
 780000,
 360000,
 485000,
 1000000,
 235000,
 980000,
 85000,
 595000,
 2050000,
 485000,
 350000,
 715000,
 175000,
 525000,
 360000,
 395000,
 488000,
 315000,
 925000,
 400000,
 270000,
 1000000,
 470000,
 1360000,
 345000,
 345000,
 670000,
 550000,
 310000,
 310000,
 373000,
 245000,
 260000,
 355000,
 525000,
 3150000,
 665000,
 2500000,
 775000,
 1250000,
 400000,
 470000,
 1850000,
 2200000,
 1850000,
 305000,
 145000,
 1450000,
 132000,
 480000,
 1550000,
 1980000,
 325000,
 215000,
 350000,
 1300000,
 26000,
 430000,
 460000,
 385000,
 268000,
 500000,
 590000,
 990000,
 2400000,
 2350000,
 570000,
 1050000,
 138000,
 1700000,
 980000,
 635000,
 980000,
 210000,
 245000,
 345000,
 1300000,
 1600000,
 255000,
 1350000,
 450000,
 425000,
 745000,
 1050000,
 450000,
 245000,
 100000,
 850000,
 510000,
 965000,
 585000,
 1690000,
 312000,
 1700000,
 550000,
 400000,
 800000,
 830000,
 175000,
 382000,
 790000,
 435000,
 475000,
 245000,
 240000,
 2700000,
 2350000,
 150000,
 7000000,
 2300000,
 1200000,
 3050000,
 2550000,
 640000,
 448000,
 355000,
 285000,
 1000000,
 1400000,
 250000,
 115000,
 255000,
 210000,
 130000,
 1250000,
 460000,
 840000,
 520000,
 315000,
 130000,
 330000,
 1100000,
 1750000,
 102500,
 102500,
 1400000,
 350000,
 375000,
 145000,
 135000,
 980000,
 132000,
 300000,
 220000,
 35000,
 250000,
 480000,
 440000,
 800000,
 1500000,
 3900000,
 1000000,
 635000,
 1330000,
 225000,
 965000,
 725000,
 465000,
 1200000,
 990000,
 610000,
 750000,
 725000,
 155000,
 950000,
 200000,
 375000,
 3900000,
 520000,
 295000,
 350000,
 740000,
 1250000,
 280000,
 4800000,
 2200000,
 3800000,
 560000,
 1850000,
 1850000,
 285000,
 235000,
 780000,
 800000,
 2300000,
 5750000,
 487500,
 155000,
 10000000,
 680000,
 1950000,
 1500000,
 110000,
 390000,
 3150000,
 370000,
 365000,
 5850000,
 260000,
 650000,
 155000,
 93000,
 355000,
 1500000,
 149000,
 1100000,
 1750000,
 1750000,
 460000,
 640000,
 575000,
 125000,
 300000,
 390000,
 135000,
 70000,
 430000,
 387000,
 5600000,
 535000,
 75000,
 87000,
 365000,
 1075000,
 2850000,
 435000,
 365000,
 290000,
 400000,
 3300000,
 720000,
 968000,
 370000,
 410000,
 440000,
 487000,
 2275000,
 6250000,
 570000,
 2500000,
 30000,
 790000,
 255000,
 1028000,
 360000,
 540000,
 70000,
 90000,
 620000,
 980000,
 300000,
 345000,
 75000,
 322000,
 575000,
 65000,
 680000,
 160000,
 200000,
 2475000,
 730000,
 ...]

In [98]:
Ads["Price"] = prices

In [99]:
Ads

,Unnamed: 0,Brand,AD_ID,Transmission Type,Description,Model,Year,Color,Location,Fuel Type,...,Kilometers,Payment Options,OwnerProfileLink,user_email,phone_number,posting date,link_number,Price,Lower_Engine_Capacity,Upper_Engine_Capacity
0,0,Toyota,196489274,Automatic,تويوتا كورولا 2020\nالفئة الأولى\n40 ألف كيلو\...,Corolla,2020.0,White,"Heliopolis, Cairo",Benzine,...,30000 to 39999,Cash,https://www.olx.com.eg/en/companies/Egypt-Moto...,NaN,+201000008887,2023-03-22,0.0,725000,1600,1600
1,1,Suzuki,194198611,Automatic,سوزوكي دايزاير يوجد عدة أنظمة للتقسيط تصل إلي ...,Dzire,2022.0,Other Color,"Nasr City, Cairo",Benzine,...,NaN,Installments,https://www.olx.com.eg/en/companies/Mostafa-ab...,NaN,+201118887282,2023-03-24,1.0,90000,1000,1300
2,2,MG,184729021,Automatic,اقل سعر وتسليم فوريجميع الفأت والألوان\nاستمتع...,MG 5,2022.0,Blue- Navy Blue,"Nasr City, Cairo",Benzine,...,NaN,Installments,https://www.olx.com.eg/en/companies/auto-4-you...,NaN,+201026697964,2023-03-25,2.0,160000,1400,1500
3,3,Skoda,196217849,Automatic,"سكودا سوبيرب 2022 اول قسط هدية , بدون تأمين , ...",Superb,2023.0,Blue- Navy Blue,"New Cairo - El Tagamoa, Cairo",Benzine,...,NaN,Installments,https://www.olx.com.eg/en/companies/Xtreme-aut...,NaN,+201278889817,2023-03-26,3.0,413750,1400,1500
4,4,Audi,196255693,Automatic,Audi A3 S-Line Sportback 2022\n\nRed X OffWhit...,A3,2022.0,Red,"Nasr City, Cairo",Benzine,...,NaN,Cash,https://www.olx.com.eg/en/companies/shesheny-m...,NaN,+201005515700,2023-03-24,5.0,1650000,1400,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,954,BMW,196048110,Automatic,بحاله ممتازة استعمال راقى الفتيس الجديد الماتو...,X5,2007.0,NaN,"Downtown Cairo, Cairo",Benzine,...,120000 to 139999,Cash,https://www.olx.com.eg/en/profile/34895798-a88...,NaN,+201223309921,2023-02-27,4073.0,850000,3000,3000
3392,955,Lada,196053009,Manual,لادا روسي دواخل فابريكا رخصه سنتين,2107,2009.0,Burgundy,"Waili, Cairo",Benzine,...,NaN,Cash,https://www.olx.com.eg/en/profile/f8714e19-b72...,NaN,+201146376008,2023-02-27,4074.0,70000,1600,1600
3393,956,Chevrolet,196052996,Automatic,شيفروليه اوبترا 2022\nاعلى فئه فتحه سقف فابريك...,Optra,2022.0,Gray,"Downtown Cairo, Cairo",Benzine,...,30000 to 39999,Cash,https://www.olx.com.eg/en/profile/590171d0-b8b...,NaN,+201146256167,2023-02-27,4075.0,395000,1600,1600
3394,957,Mercedes-Benz,196053001,Automatic,GLC 300 suv black color,GLC 300,2019.0,Black,"New Cairo - El Tagamoa, Cairo",Benzine,...,80000 to 89999,Cash,https://www.olx.com.eg/en/profile/caf72116-52f...,NaN,+201003512720,2023-02-27,4076.0,2600000,2200,2800
3395,958,Mazda,196052868,Automatic,مازدا 3 موديل 2008 كاملة اوتوماتيك فتحة السقف ...,3,2008.0,Gray,"New Cairo - El Tagamoa, Cairo",Benzine,...,More than 200000,Cash,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,NaN,+201007614491,2023-02-27,4077.0,265000,1600,1600

In [100]:
years = []
for i in range(0, len(Ads)):
    years.append(int(Ads["Year"][i]))

In [101]:
years

[2020,
 2022,
 2022,
 2023,
 2022,
 2023,
 2014,
 2022,
 2023,
 2022,
 2023,
 2023,
 2023,
 2016,
 2013,
 2010,
 2016,
 2023,
 2021,
 2022,
 2017,
 2023,
 2021,
 2015,
 2023,
 2023,
 2018,
 2022,
 2005,
 2022,
 2016,
 2015,
 2022,
 2022,
 2022,
 2023,
 2023,
 2023,
 2017,
 2023,
 2021,
 2023,
 2015,
 2013,
 2022,
 2020,
 2023,
 2011,
 2023,
 2022,
 2017,
 2023,
 2022,
 2020,
 2023,
 2022,
 2023,
 2023,
 2023,
 2010,
 2023,
 2023,
 2022,
 2021,
 2020,
 2023,
 2019,
 2023,
 2021,
 2015,
 2020,
 2020,
 2001,
 2021,
 2021,
 2021,
 2014,
 2022,
 2023,
 2019,
 2023,
 2018,
 2023,
 2021,
 2022,
 2022,
 2022,
 2012,
 2015,
 2015,
 2018,
 2017,
 2007,
 2016,
 2018,
 2021,
 2022,
 2015,
 2022,
 2022,
 2022,
 2021,
 2023,
 2023,
 2022,
 2019,
 2016,
 2015,
 2016,
 2015,
 2021,
 2016,
 2018,
 2021,
 2022,
 2023,
 2023,
 1983,
 2018,
 2022,
 2013,
 2019,
 2023,
 2023,
 2023,
 2023,
 2021,
 2011,
 2023,
 2023,
 2023,
 2023,
 2022,
 2015,
 2021,
 2022,
 2012,
 2019,
 2007,
 2019,
 2013,
 2007,
 2020,
 2014,
 2016,
 2017,
 2022,
 2022,
 2016,
 2008,
 2019,
 2014,
 2022,
 2023,
 2022,
 2017,
 2022,
 2022,
 2015,
 2007,
 2016,
 2021,
 2019,
 2014,
 2013,
 2021,
 2012,
 2004,
 2019,
 2023,
 2020,
 2020,
 2016,
 2015,
 2017,
 2018,
 2009,
 2020,
 2019,
 2013,
 2020,
 2021,
 2021,
 2020,
 2015,
 2016,
 2022,
 2021,
 2017,
 2004,
 2023,
 2019,
 2019,
 2011,
 2022,
 2008,
 2012,
 2015,
 2021,
 2023,
 2023,
 2022,
 2020,
 2021,
 1997,
 2015,
 2019,
 2021,
 2023,
 2023,
 2023,
 2022,
 2021,
 2018,
 2013,
 2021,
 2019,
 2020,
 2022,
 1981,
 2021,
 2022,
 2020,
 2022,
 2021,
 2022,
 2011,
 2021,
 2017,
 2010,
 2017,
 2021,
 2023,
 2023,
 2022,
 2021,
 2022,
 2009,
 1989,
 2016,
 2016,
 2010,
 1994,
 2021,
 2018,
 2018,
 2022,
 2021,
 2007,
 2019,
 2012,
 2023,
 2011,
 2019,
 2022,
 2023,
 2021,
 2021,
 2019,
 2021,
 2017,
 2019,
 2019,
 2018,
 2016,
 2014,
 2021,
 2007,
 2018,
 2020,
 2011,
 2014,
 2020,
 2019,
 2021,
 2017,
 2010,
 2007,
 2017,
 2022,
 2021,
 2014,
 2022,
 2007,
 2012,
 2014,
 2012,
 2018,
 2021,
 2012,
 2021,
 2010,
 2013,
 2019,
 2022,
 2022,
 2022,
 2020,
 2015,
 2010,
 2013,
 2016,
 2010,
 2022,
 2018,
 2014,
 2018,
 2009,
 2020,
 2016,
 2021,
 2019,
 2010,
 2016,
 2023,
 2020,
 2008,
 2019,
 2015,
 2013,
 2020,
 2022,
 1999,
 2022,
 2017,
 2016,
 2018,
 2023,
 2023,
 2022,
 2008,
 1977,
 2022,
 2022,
 2015,
 2020,
 2013,
 2013,
 2023,
 2023,
 2023,
 2022,
 2022,
 2023,
 2023,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2023,
 2022,
 2021,
 2022,
 2020,
 2021,
 2023,
 2016,
 2023,
 2012,
 2022,
 2017,
 2019,
 2017,
 2010,
 2017,
 2022,
 2021,
 2021,
 2020,
 2018,
 2020,
 1998,
 1998,
 2005,
 2023,
 2010,
 2017,
 2011,
 2020,
 2019,
 2015,
 2022,
 2018,
 2018,
 2021,
 2017,
 2018,
 2021,
 2023,
 2019,
 2022,
 2009,
 2012,
 2002,
 2009,
 2014,
 2013,
 2017,
 1985,
 2012,
 2015,
 2022,
 2018,
 2016,
 2023,
 2023,
 2018,
 2015,
 1992,
 2019,
 2016,
 2011,
 2023,
 2019,
 1996,
 2019,
 1999,
 2020,
 1999,
 2020,
 2022,
 2022,
 2008,
 2021,
 2013,
 2020,
 2020,
 2004,
 2014,
 2007,
 2019,
 1999,
 2019,
 2015,
 2019,
 1999,
 2022,
 2020,
 2013,
 2020,
 2019,
 2021,
 2020,
 2002,
 2014,
 2019,
 2022,
 2019,
 2001,
 2007,
 2018,
 2020,
 2022,
 2019,
 2022,
 2023,
 2022,
 2021,
 2010,
 2023,
 2006,
 2019,
 2022,
 2008,
 2023,
 2022,
 2022,
 2022,
 2022,
 1981,
 2018,
 2022,
 2023,
 2023,
 2023,
 2023,
 2023,
 2022,
 2020,
 1999,
 2023,
 2023,
 2018,
 2007,
 2021,
 2017,
 2015,
 2006,
 2020,
 2003,
 2022,
 2020,
 2010,
 1983,
 2013,
 2017,
 2021,
 2023,
 2019,
 2008,
 1990,
 2019,
 2009,
 2014,
 2022,
 2014,
 2001,
 2009,
 2017,
 2014,
 2021,
 2021,
 2019,
 2021,
 2021,
 2021,
 2021,
 2013,
 2013,
 1993,
 2011,
 2008,
 2017,
 2012,
 2013,
 2016,
 2014,
 2022,
 2016,
 2008,
 2022,
 2022,
 2019,
 1982,
 2020,
 2021,
 2021,
 2020,
 2022,
 2023,
 2023,
 2019,
 2018,
 2018,
 2016,
 2017,
 2012,
 2022,
 2022,
 2016,
 2013,
 2020,
 2010,
 2020,
 1999,
 2018,
 2010,
 2022,
 2016,
 2016,
 2019,
 2022,
 2015,
 2009,
 1987,
 2019,
 2021,
 2013,
 2023,
 2005,
 2021,
 2021,
 2020,
 2022,
 2020,
 2019,
 2022,
 2017,
 2020,
 2022,
 2019,
 2015,
 2022,
 2007,
 2015,
 2015,
 2012,
 2014,
 2016,
 2023,
 2021,
 2019,
 2001,
 2011,
 2007,
 2010,
 2023,
 2013,
 2008,
 2008,
 2014,
 2016,
 2017,
 2000,
 1990,
 2016,
 2017,
 2011,
 2002,
 2019,
 2004,
 2020,
 2022,
 2020,
 2013,
 2017,
 2016,
 2021,
 2019,
 2010,
 2023,
 2018,
 2010,
 2021,
 2018,
 2021,
 2019,
 2016,
 2018,
 2018,
 2015,
 2020,
 2018,
 2019,
 2000,
 2020,
 2017,
 2016,
 2021,
 2016,
 2018,
 1996,
 2015,
 2019,
 2018,
 2022,
 1995,
 2012,
 2015,
 2020,
 2016,
 2021,
 2016,
 2007,
 2019,
 2018,
 2010,
 2017,
 2022,
 2002,
 2002,
 2013,
 2023,
 2008,
 1991,
 2021,
 2010,
 2007,
 2023,
 2022,
 2018,
 2009,
 2007,
 2009,
 2023,
 2013,
 2017,
 2012,
 2018,
 2018,
 2016,
 2015,
 2023,
 2019,
 2022,
 2016,
 2016,
 2020,
 2017,
 2022,
 2014,
 2021,
 2019,
 2012,
 2016,
 2019,
 2021,
 2022,
 2019,
 2023,
 2022,
 1996,
 2018,
 2015,
 2005,
 2020,
 2020,
 2022,
 2016,
 2011,
 2013,
 2010,
 2023,
 2017,
 2019,
 2020,
 2020,
 1984,
 2016,
 2020,
 2020,
 2021,
 2023,
 2023,
 2022,
 2022,
 1982,
 1987,
 2022,
 2022,
 2021,
 2022,
 2008,
 2022,
 2019,
 2021,
 2021,
 2020,
 2021,
 2022,
 2022,
 2013,
 2021,
 2022,
 2014,
 2023,
 2015,
 2023,
 2018,
 2002,
 2020,
 2009,
 2013,
 2016,
 2022,
 2022,
 2022,
 2022,
 2020,
 2017,
 2022,
 2010,
 2010,
 2021,
 2019,
 2015,
 2022,
 2007,
 2015,
 2023,
 2017,
 2022,
 2022,
 2015,
 2018,
 2022,
 2018,
 2015,
 2021,
 2022,
 2023,
 2022,
 2016,
 2012,
 2016,
 2000,
 2018,
 2019,
 2018,
 2013,
 2018,
 2017,
 2020,
 1974,
 2019,
 2023,
 2013,
 2020,
 2017,
 2016,
 2021,
 2022,
 2023,
 2020,
 2021,
 2016,
 2021,
 2021,
 2022,
 2019,
 2010,
 2004,
 2018,
 2019,
 2023,
 2007,
 2023,
 2021,
 2015,
 2017,
 2016,
 2016,
 2008,
 2000,
 2014,
 2018,
 2019,
 2015,
 2020,
 2017,
 2020,
 2021,
 2022,
 2018,
 2023,
 2004,
 2020,
 2022,
 2016,
 2015,
 2010,
 2008,
 2013,
 2019,
 2008,
 2022,
 2023,
 2006,
 2023,
 2017,
 2017,
 2022,
 2017,
 2008,
 2022,
 2023,
 2022,
 2022,
 2023,
 2012,
 2022,
 2017,
 2014,
 2015,
 2021,
 2023,
 1999,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2022,
 2015,
 2015,
 2018,
 2005,
 2022,
 2009,
 1979,
 2008,
 2022,
 2015,
 2022,
 2022,
 2022,
 2023,
 2023,
 2018,
 1997,
 2018,
 2014,
 2022,
 2022,
 2022,
 2015,
 2018,
 2020,
 2009,
 2021,
 1998,
 2012,
 2022,
 2017,
 2020,
 2008,
 2021,
 2021,
 2008,
 2022,
 2022,
 2022,
 2010,
 2022,
 2022,
 2021,
 2018,
 2017,
 2016,
 2022,
 2022,
 2023,
 2008,
 2022,
 2020,
 2022,
 2022,
 2013,
 2017,
 2020,
 2013,
 2018,
 2020,
 2007,
 2022,
 2009,
 2014,
 2017,
 2020,
 2009,
 2022,
 2019,
 2021,
 2015,
 2019,
 2011,
 2001,
 2010,
 2020,
 1999,
 2008,
 2017,
 2015,
 2022,
 2018,
 1992,
 2022,
 2022,
 2018,
 2022,
 2014,
 2015,
 2020,
 2006,
 2020,
 2021,
 2019,
 2017,
 2022,
 2018,
 2022,
 2022,
 2023,
 2015,
 2022,
 1975,
 2018,
 2004,
 2020,
 2003,
 2019,
 1999,
 1996,
 2022,
 2020,
 2020,
 2010,
 2009,
 2016,
 2018,
 2020,
 2019,
 2010,
 2014,
 2023,
 2021,
 ...]

In [102]:
Ads["Year"] = years

In [104]:
LEC = []
UEC = []
for i in range(0, len(Ads)):
    LEC.append(int(Ads["Lower_Engine_Capacity"][i]))
    UEC.append((Ads["Upper_Engine_Capacity"][i]))

In [105]:
Ads["Lower_Engine_Capacity"] = LEC
Ads["Higher_Engine_Capacity"] = UEC

In [106]:
Ads

,Unnamed: 0,Brand,AD_ID,Transmission Type,Description,Model,Year,Color,Location,Fuel Type,...,Payment Options,OwnerProfileLink,user_email,phone_number,posting date,link_number,Price,Lower_Engine_Capacity,Upper_Engine_Capacity,Higher_Engine_Capacity
0,0,Toyota,196489274,Automatic,تويوتا كورولا 2020\nالفئة الأولى\n40 ألف كيلو\...,Corolla,2020,White,"Heliopolis, Cairo",Benzine,...,Cash,https://www.olx.com.eg/en/companies/Egypt-Moto...,NaN,+201000008887,2023-03-22,0.0,725000,1600,1600,1600
1,1,Suzuki,194198611,Automatic,سوزوكي دايزاير يوجد عدة أنظمة للتقسيط تصل إلي ...,Dzire,2022,Other Color,"Nasr City, Cairo",Benzine,...,Installments,https://www.olx.com.eg/en/companies/Mostafa-ab...,NaN,+201118887282,2023-03-24,1.0,90000,1000,1300,1300
2,2,MG,184729021,Automatic,اقل سعر وتسليم فوريجميع الفأت والألوان\nاستمتع...,MG 5,2022,Blue- Navy Blue,"Nasr City, Cairo",Benzine,...,Installments,https://www.olx.com.eg/en/companies/auto-4-you...,NaN,+201026697964,2023-03-25,2.0,160000,1400,1500,1500
3,3,Skoda,196217849,Automatic,"سكودا سوبيرب 2022 اول قسط هدية , بدون تأمين , ...",Superb,2023,Blue- Navy Blue,"New Cairo - El Tagamoa, Cairo",Benzine,...,Installments,https://www.olx.com.eg/en/companies/Xtreme-aut...,NaN,+201278889817,2023-03-26,3.0,413750,1400,1500,1500
4,4,Audi,196255693,Automatic,Audi A3 S-Line Sportback 2022\n\nRed X OffWhit...,A3,2022,Red,"Nasr City, Cairo",Benzine,...,Cash,https://www.olx.com.eg/en/companies/shesheny-m...,NaN,+201005515700,2023-03-24,5.0,1650000,1400,1500,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,954,BMW,196048110,Automatic,بحاله ممتازة استعمال راقى الفتيس الجديد الماتو...,X5,2007,NaN,"Downtown Cairo, Cairo",Benzine,...,Cash,https://www.olx.com.eg/en/profile/34895798-a88...,NaN,+201223309921,2023-02-27,4073.0,850000,3000,3000,3000
3392,955,Lada,196053009,Manual,لادا روسي دواخل فابريكا رخصه سنتين,2107,2009,Burgundy,"Waili, Cairo",Benzine,...,Cash,https://www.olx.com.eg/en/profile/f8714e19-b72...,NaN,+201146376008,2023-02-27,4074.0,70000,1600,1600,1600
3393,956,Chevrolet,196052996,Automatic,شيفروليه اوبترا 2022\nاعلى فئه فتحه سقف فابريك...,Optra,2022,Gray,"Downtown Cairo, Cairo",Benzine,...,Cash,https://www.olx.com.eg/en/profile/590171d0-b8b...,NaN,+201146256167,2023-02-27,4075.0,395000,1600,1600,1600
3394,957,Mercedes-Benz,196053001,Automatic,GLC 300 suv black color,GLC 300,2019,Black,"New Cairo - El Tagamoa, Cairo",Benzine,...,Cash,https://www.olx.com.eg/en/profile/caf72116-52f...,NaN,+201003512720,2023-02-27,4076.0,2600000,2200,2800,2800
3395,958,Mazda,196052868,Automatic,مازدا 3 موديل 2008 كاملة اوتوماتيك فتحة السقف ...,3,2008,Gray,"New Cairo - El Tagamoa, Cairo",Benzine,...,Cash,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,NaN,+201007614491,2023-02-27,4077.0,265000,1600,1600,1600

In [110]:
unique = []
NoneArr = Ads["Kilometers"].isna()
for i in range(0, len(Ads)):
    if(NoneArr[i] == False):
        arr = Ads["Kilometers"][i].split(" ")
        unique.append(len(arr))

In [115]:
unique = np.array(unique)
len(np.unique(unique))

1

In [114]:
print(unique)

[3 3 3 ... 3 3 3]

In [116]:
Lower_Kilometers = []
Upper_Kilometers = []
for i in range(0, len(Ads)):
    if(NoneArr[i] == False):
        arr = Ads["Kilometers"][i].split(" ")
        if(arr[0] == "More" or arr[0] == "Lower"):
            Lower_Kilometers.append(int(arr[2]))
            Upper_Kilometers.append(int(arr[2]))
        elif(len(arr) == 1 ):
            Lower_Kilometers.append(int(arr[0]))
            Upper_Kilometers.append(int(arr[0]))

        else:
            Lower_Kilometers.append(int(arr[0]))
            Upper_Kilometers.append(int(arr[2]))
    else:
        Upper_Kilometers.append(None)
        Lower_Kilometers.append(None)

In [118]:
Upper_Kilometers

[39999,
 None,
 None,
 None,
 None,
 None,
 119999,
 None,
 None,
 39999,
 None,
 9999,
 None,
 119999,
 139999,
 119999,
 99999,
 None,
 99999,
 None,
 99999,
 None,
 29999,
 179999,
 None,
 None,
 99999,
 9999,
 179999,
 9999,
 9999,
 139999,
 29999,
 None,
 None,
 None,
 None,
 None,
 99999,
 None,
 49999,
 None,
 99999,
 99999,
 None,
 39999,
 None,
 199999,
 None,
 None,
 99999,
 None,
 None,
 9999,
 None,
 None,
 None,
 None,
 None,
 119999,
 None,
 None,
 None,
 49999,
 69999,
 None,
 29999,
 None,
 19999,
 89999,
 39999,
 19999,
 200000,
 59999,
 None,
 None,
 119999,
 19999,
 None,
 19999,
 None,
 None,
 None,
 59999,
 None,
 9999,
 29999,
 139999,
 159999,
 49999,
 119999,
 99999,
 200000,
 79999,
 59999,
 19999,
 39999,
 159999,
 None,
 None,
 None,
 19999,
 None,
 None,
 39999,
 119999,
 19999,
 89999,
 139999,
 19999,
 39999,
 None,
 None,
 39999,
 None,
 None,
 None,
 200000,
 None,
 None,
 119999,
 9999,
 None,
 None,
 None,
 None,
 29999,
 199999,
 None,
 None,
 None,
 None,
 None,
 119999,
 39999,
 19999,
 200000,
 59999,
 199999,
 89999,
 159999,
 179999,
 79999,
 179999,
 79999,
 69999,
 None,
 9999,
 69999,
 200000,
 29999,
 199999,
 None,
 None,
 9999,
 119999,
 None,
 None,
 99999,
 159999,
 199999,
 29999,
 99999,
 159999,
 119999,
 9999,
 200000,
 159999,
 9999,
 None,
 29999,
 59999,
 139999,
 119999,
 119999,
 99999,
 9999,
 59999,
 99999,
 49999,
 69999,
 19999,
 69999,
 39999,
 19999,
 99999,
 19999,
 69999,
 89999,
 119999,
 None,
 99999,
 49999,
 119999,
 39999,
 200000,
 119999,
 89999,
 29999,
 None,
 None,
 9999,
 29999,
 69999,
 9999,
 139999,
 119999,
 49999,
 None,
 None,
 None,
 None,
 9999,
 199999,
 99999,
 59999,
 69999,
 79999,
 49999,
 29999,
 69999,
 49999,
 69999,
 None,
 69999,
 49999,
 179999,
 39999,
 159999,
 119999,
 159999,
 19999,
 None,
 None,
 None,
 39999,
 None,
 200000,
 29999,
 69999,
 119999,
 139999,
 199999,
 89999,
 59999,
 None,
 79999,
 19999,
 179999,
 59999,
 200000,
 None,
 199999,
 89999,
 89999,
 29999,
 119999,
 49999,
 79999,
 39999,
 179999,
 69999,
 19999,
 119999,
 159999,
 119999,
 None,
 179999,
 79999,
 89999,
 199999,
 39999,
 39999,
 99999,
 119999,
 39999,
 29999,
 200000,
 39999,
 None,
 59999,
 179999,
 None,
 159999,
 139999,
 119999,
 19999,
 89999,
 None,
 None,
 29999,
 199999,
 99999,
 39999,
 None,
 None,
 9999,
 89999,
 119999,
 89999,
 139999,
 139999,
 200000,
 19999,
 39999,
 79999,
 179999,
 200000,
 None,
 69999,
 89999,
 79999,
 79999,
 159999,
 None,
 69999,
 139999,
 119999,
 159999,
 99999,
 49999,
 None,
 9999,
 19999,
 139999,
 159999,
 59999,
 None,
 None,
 19999,
 159999,
 200000,
 29999,
 None,
 59999,
 29999,
 179999,
 159999,
 9999,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 79999,
 39999,
 99999,
 59999,
 None,
 119999,
 None,
 159999,
 9999,
 9999,
 89999,
 119999,
 139999,
 79999,
 None,
 19999,
 None,
 69999,
 119999,
 49999,
 200000,
 89999,
 139999,
 None,
 159999,
 159999,
 9999,
 69999,
 69999,
 179999,
 9999,
 69999,
 159999,
 89999,
 99999,
 None,
 None,
 None,
 49999,
 19999,
 139999,
 119999,
 99999,
 179999,
 139999,
 200000,
 139999,
 159999,
 119999,
 119999,
 9999,
 79999,
 None,
 None,
 None,
 None,
 None,
 159999,
 119999,
 None,
 200000,
 None,
 79999,
 9999,
 49999,
 200000,
 39999,
 9999,
 9999,
 None,
 9999,
 159999,
 49999,
 119999,
 9999,
 9999,
 200000,
 159999,
 119999,
 99999,
 200000,
 39999,
 139999,
 99999,
 200000,
 None,
 119999,
 139999,
 59999,
 None,
 89999,
 89999,
 200000,
 139999,
 39999,
 None,
 119999,
 200000,
 199999,
 69999,
 79999,
 49999,
 39999,
 None,
 None,
 None,
 19999,
 199999,
 None,
 159999,
 49999,
 29999,
 159999,
 None,
 None,
 None,
 None,
 None,
 79999,
 29999,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 19999,
 159999,
 None,
 None,
 89999,
 179999,
 19999,
 59999,
 199999,
 179999,
 59999,
 199999,
 19999,
 69999,
 119999,
 200000,
 None,
 79999,
 29999,
 None,
 59999,
 200000,
 200000,
 99999,
 89999,
 139999,
 9999,
 99999,
 200000,
 159999,
 9999,
 49999,
 19999,
 79999,
 69999,
 49999,
 19999,
 39999,
 79999,
 139999,
 99999,
 119999,
 200000,
 200000,
 69999,
 179999,
 179999,
 79999,
 139999,
 None,
 9999,
 199999,
 49999,
 None,
 59999,
 99999,
 9999,
 9999,
 79999,
 19999,
 None,
 None,
 19999,
 79999,
 89999,
 200000,
 9999,
 139999,
 139999,
 None,
 None,
 119999,
 139999,
 79999,
 99999,
 49999,
 200000,
 59999,
 179999,
 None,
 159999,
 99999,
 9999,
 9999,
 19999,
 159999,
 19999,
 79999,
 200000,
 9999,
 None,
 29999,
 9999,
 59999,
 79999,
 29999,
 9999,
 59999,
 9999,
 89999,
 69999,
 29999,
 None,
 None,
 9999,
 159999,
 139999,
 139999,
 199999,
 119999,
 179999,
 9999,
 59999,
 29999,
 9999,
 199999,
 159999,
 159999,
 None,
 119999,
 179999,
 79999,
 79999,
 99999,
 99999,
 199999,
 200000,
 89999,
 99999,
 139999,
 200000,
 119999,
 29999,
 29999,
 None,
 59999,
 9999,
 49999,
 119999,
 9999,
 99999,
 199999,
 None,
 99999,
 89999,
 9999,
 89999,
 39999,
 39999,
 79999,
 139999,
 99999,
 199999,
 59999,
 99999,
 89999,
 200000,
 69999,
 119999,
 49999,
 29999,
 139999,
 99999,
 119999,
 119999,
 29999,
 99999,
 9999,
 99999,
 79999,
 179999,
 79999,
 139999,
 29999,
 119999,
 200000,
 9999,
 179999,
 179999,
 199999,
 None,
 179999,
 99999,
 119999,
 None,
 119999,
 39999,
 9999,
 79999,
 179999,
 None,
 39999,
 139999,
 179999,
 159999,
 None,
 None,
 119999,
 119999,
 119999,
 159999,
 19999,
 79999,
 159999,
 None,
 69999,
 None,
 119999,
 119999,
 119999,
 119999,
 None,
 99999,
 29999,
 139999,
 159999,
 99999,
 119999,
 69999,
 9999,
 79999,
 None,
 39999,
 39999,
 69999,
 199999,
 200000,
 29999,
 59999,
 29999,
 49999,
 159999,
 200000,
 199999,
 None,
 69999,
 59999,
 79999,
 29999,
 200000,
 179999,
 39999,
 39999,
 None,
 None,
 None,
 9999,
 29999,
 200000,
 99999,
 9999,
 None,
 29999,
 49999,
 200000,
 9999,
 19999,
 49999,
 89999,
 99999,
 59999,
 None,
 None,
 199999,
 99999,
 None,
 179999,
 None,
 99999,
 None,
 9999,
 159999,
 19999,
 29999,
 19999,
 99999,
 None,
 9999,
 None,
 None,
 19999,
 99999,
 19999,
 159999,
 119999,
 69999,
 69999,
 119999,
 None,
 19999,
 119999,
 None,
 119999,
 None,
 None,
 139999,
 19999,
 None,
 59999,
 179999,
 69999,
 19999,
 None,
 19999,
 119999,
 29999,
 139999,
 200000,
 119999,
 119999,
 39999,
 139999,
 119999,
 19999,
 119999,
 200000,
 89999,
 None,
 9999,
 139999,
 139999,
 139999,
 19999,
 None,
 None,
 99999,
 59999,
 69999,
 29999,
 49999,
 49999,
 119999,
 119999,
 200000,
 9999,
 89999,
 None,
 139999,
 None,
 199999,
 99999,
 79999,
 179999,
 119999,
 9999,
 199999,
 199999,
 99999,
 9999,
 99999,
 None,
 139999,
 69999,
 79999,
 119999,
 69999,
 9999,
 159999,
 None,
 9999,
 99999,
 79999,
 200000,
 200000,
 139999,
 69999,
 159999,
 None,
 None,
 179999,
 None,
 59999,
 79999,
 None,
 159999,
 139999,
 None,
 None,
 None,
 None,
 None,
 200000,
 None,
 69999,
 139999,
 139999,
 59999,
 None,
 159999,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 159999,
 89999,
 79999,
 200000,
 None,
 199999,
 200000,
 200000,
 None,
 159999,
 None,
 None,
 None,
 None,
 9999,
 69999,
 None,
 59999,
 89999,
 19999,
 29999,
 None,
 119999,
 159999,
 89999,
 200000,
 59999,
 179999,
 200000,
 9999,
 139999,
 59999,
 49999,
 39999,
 19999,
 49999,
 None,
 None,
 None,
 19999,
 None,
 9999,
 9999,
 None,
 139999,
 89999,
 None,
 None,
 None,
 159999,
 None,
 119999,
 9999,
 None,
 119999,
 19999,
 None,
 200000,
 99999,
 69999,
 119999,
 9999,
 29999,
 19999,
 9999,
 59999,
 200000,
 19999,
 9999,
 19999,
 139999,
 79999,
 179999,
 200000,
 159999,
 49999,
 200000,
 59999,
 200000,
 119999,
 9999,
 69999,
 199999,
 None,
 29999,
 119999,
 None,
 99999,
 9999,
 139999,
 139999,
 69999,
 19999,
 59999,
 159999,
 29999,
 200000,
 19999,
 None,
 9999,
 179999,
 None,
 59999,
 119999,
 200000,
 69999,
 None,
 139999,
 200000,
 200000,
 39999,
 69999,
 69999,
 200000,
 29999,
 139999,
 69999,
 69999,
 79999,
 19999,
 119999,
 19999,
 89999,
 ...]

In [119]:
Ads["Lower_Kilometers"] = Lower_Kilometers

In [120]:
Ads["Upper_Kilometers"]= Upper_Kilometers

In [121]:
Ads

,Unnamed: 0,Brand,AD_ID,Transmission Type,Description,Model,Year,Color,Location,Fuel Type,...,user_email,phone_number,posting date,link_number,Price,Lower_Engine_Capacity,Upper_Engine_Capacity,Higher_Engine_Capacity,Lower_Kilometers,Upper_Kilometers
0,0,Toyota,196489274,Automatic,تويوتا كورولا 2020\nالفئة الأولى\n40 ألف كيلو\...,Corolla,2020,White,"Heliopolis, Cairo",Benzine,...,NaN,+201000008887,2023-03-22,0.0,725000,1600,1600,1600,30000.0,39999.0
1,1,Suzuki,194198611,Automatic,سوزوكي دايزاير يوجد عدة أنظمة للتقسيط تصل إلي ...,Dzire,2022,Other Color,"Nasr City, Cairo",Benzine,...,NaN,+201118887282,2023-03-24,1.0,90000,1000,1300,1300,NaN,NaN
2,2,MG,184729021,Automatic,اقل سعر وتسليم فوريجميع الفأت والألوان\nاستمتع...,MG 5,2022,Blue- Navy Blue,"Nasr City, Cairo",Benzine,...,NaN,+201026697964,2023-03-25,2.0,160000,1400,1500,1500,NaN,NaN
3,3,Skoda,196217849,Automatic,"سكودا سوبيرب 2022 اول قسط هدية , بدون تأمين , ...",Superb,2023,Blue- Navy Blue,"New Cairo - El Tagamoa, Cairo",Benzine,...,NaN,+201278889817,2023-03-26,3.0,413750,1400,1500,1500,NaN,NaN
4,4,Audi,196255693,Automatic,Audi A3 S-Line Sportback 2022\n\nRed X OffWhit...,A3,2022,Red,"Nasr City, Cairo",Benzine,...,NaN,+201005515700,2023-03-24,5.0,1650000,1400,1500,1500,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,954,BMW,196048110,Automatic,بحاله ممتازة استعمال راقى الفتيس الجديد الماتو...,X5,2007,NaN,"Downtown Cairo, Cairo",Benzine,...,NaN,+201223309921,2023-02-27,4073.0,850000,3000,3000,3000,120000.0,139999.0
3392,955,Lada,196053009,Manual,لادا روسي دواخل فابريكا رخصه سنتين,2107,2009,Burgundy,"Waili, Cairo",Benzine,...,NaN,+201146376008,2023-02-27,4074.0,70000,1600,1600,1600,NaN,NaN
3393,956,Chevrolet,196052996,Automatic,شيفروليه اوبترا 2022\nاعلى فئه فتحه سقف فابريك...,Optra,2022,Gray,"Downtown Cairo, Cairo",Benzine,...,NaN,+201146256167,2023-02-27,4075.0,395000,1600,1600,1600,30000.0,39999.0
3394,957,Mercedes-Benz,196053001,Automatic,GLC 300 suv black color,GLC 300,2019,Black,"New Cairo - El Tagamoa, Cairo",Benzine,...,NaN,+201003512720,2023-02-27,4076.0,2600000,2200,2800,2800,80000.0,89999.0
3395,958,Mazda,196052868,Automatic,مازدا 3 موديل 2008 كاملة اوتوماتيك فتحة السقف ...,3,2008,Gray,"New Cairo - El Tagamoa, Cairo",Benzine,...,NaN,+201007614491,2023-02-27,4077.0,265000,1600,1600,1600,200000.0,200000.0

In [130]:
Ads.columns

Index(['Unnamed: 0', 'Brand', 'AD_ID', 'Transmission Type', 'Description',
       'Model', 'Year', 'Color', 'Location', 'Fuel Type', 'Condition',
       'Body Type', 'Payment Options', 'user_email', 'phone_number',
       'posting date', 'link_number', 'Price', 'Lower_Engine_Capacity',
       'Upper_Engine_Capacity', 'Higher_Engine_Capacity', 'Lower_Kilometers',
       'Upper_Kilometers', 'Owner_Name'],
      dtype='object')

In [124]:
Ads.drop("Kilometers", inplace = True, axis = 1)

In [126]:
names = []
for i in range(0, len(Owners)):
    names.append(Owners["Owner Name"][i])
names

['Egypt Motors',
 'Mostafa abd el aziz',
 'Auto 4 You',
 'Xtreme auto',
 'Shesheny Motors',
 'Auto Z Group',
 'Plan B',
 'khaled Aboud automotive',
 'Elite Auto Motive',
 'boudy car',
 'ال عثمان اوتو',
 'Mohab Barakat',
 'ال عثمان اوتو',
 'Vip Motor',
 'esaa',
 'El-Sayaad Auto',
 'ابو يعقوب',
 'motor one',
 'Mohamed Madian',
 'SR Motors',
 'Vip Motor',
 'Mostafa abd el aziz',
 'First Class Auto',
 'Mohamed Esa',
 'First Class Auto',
 'Auto 4 You',
 'Vip Motor',
 'El-Tayaran Cars',
 'safe',
 'OLX User',
 'AM garage ',
 'Plan B',
 'mahmoud mansour',
 'SR Motors',
 'Xtreme auto',
 'Morad',
 'Xtreme auto',
 'New Star Automotive',
 'Vip Motor',
 'White Exotic Cars',
 'Hana Mohamed ',
 'IMG MOTORS',
 'Smart Car',
 'هبه',
 'Auto Gate',
 'Diamond Automotive',
 'IMG MOTORS',
 'مصطفي ابراهيم',
 'Auto 4 You',
 'Legend automotive',
 'Vip Motor',
 'Auto 4 You',
 'Auto 4 You',
 'power trade',
 'G Auto',
 'SR Motors',
 'SR Motors',
 'Xtreme auto',
 'ال عثمان اوتو',
 'Mohamed Esa',
 'ال عثمان اوتو',
 'ال عثمان اوتو',
 'Hosam Elmahdy',
 'XDrive Automotive',
 'T Auto',
 'Mostafa abd el aziz',
 'محمد',
 'ال عثمان اوتو',
 'Ghandour Auto',
 'boudy car',
 'Egypt Motors',
 'First Class Auto',
 'shady',
 'OLX User',
 'New Star Automotive',
 'khaled Aboud automotive',
 'Vip Motor',
 'motor one',
 'ال عثمان اوتو',
 'Autopark',
 'NOX Automotive',
 'amr',
 'NOX Automotive',
 'Mt',
 'NOX Automotive',
 'Mt',
 'Mt',
 'OLX User',
 'ياسر فاروق',
 'احمد',
 'Owner',
 'Abdelrhman',
 'Auto 7',
 'Auto Auction',
 'Gear Up',
 'Auto Z Group',
 'Auto Z Group',
 'ابو ادهم',
 'Auto Gate',
 'Auto Gate',
 'Auto Gate',
 'Auto Z Group',
 'Auto Z Group',
 'El Togary Auto',
 'boudy car',
 'Sherief elagamy',
 'Shady medhat',
 'boudy car',
 'bassem',
 'sherif mohamed ',
 'mostafa aly',
 'عبدالله 010',
 'المالك',
 'zizoautomoive',
 'boudy car',
 'Xtreme auto',
 'Xtreme auto',
 'البائع',
 'حازم 12',
 'Xtreme auto',
 'حسين عماد',
 'Nevin Khourshed',
 'Xtreme auto',
 'Xtreme auto',
 'Xtreme auto',
 'Xtreme auto',
 'Macan Automotive',
 'Mohamed',
 'Xtreme auto',
 'Xtreme auto',
 'Xtreme auto',
 'Xtreme auto',
 'Xtreme auto',
 'صاحب السياره',
 'Drsabry',
 'Michael Iskander',
 'Abdelrahmann',
 'OLX User',
 'Auto 7',
 'د/ محمد',
 'kamal elamrousy',
 'Alamya auto',
 'Ahmed khaleel',
 'احمد نصار ',
 'Olx User',
 'Automobile El Basha',
 'Gear Up',
 'OLX User',
 'Leaders motors',
 'Leaders motors',
 'OLX User',
 'Leaders motors',
 'المهندس محمد',
 'ايهاب نظمي',
 'OLX User',
 ' Mahmoud El Wrdany ',
 'New Star Automotive',
 'New Star Automotive',
 'khaled',
 'wasem',
 'Leaders motors',
 'Nader Gerges',
 'Auto Auction',
 'م/محمد ',
 'Auto Auction',
 'Auto Auction',
 'احمد',
 'هاني',
 'mostafa',
 'Auto Gate',
 'OLX User',
 'mark yehia',
 'احمد فوزي',
 'Master car',
 'حماده حلمى',
 'Khaled Lotfy',
 'youssef waliD',
 'Ahmed',
 'Vip Motor',
 'Vip Motor',
 'Automobile El Basha',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'حماده حلمى',
 'Hussein Tamam',
 'Auto Gate',
 'احمد سمير',
 'OLX User',
 'amr zaky',
 'Mohamed Fahmi Cars',
 'Mohamed',
 'حماده حلمى',
 'حماده حلمى',
 'Vip Motor',
 'Auto 4 You',
 'Auto 4 You',
 'OLX User',
 'Ahmed',
 'Mina',
 'Seller',
 'Ramy',
 'د محمود',
 'عمرو',
 'Auto 4 You',
 'Auto 4 You',
 'Auto 4 You',
 'Auto 4 You',
 'Ghandour Auto',
 'Ahmed',
 'Mohamed',
 'OLX User',
 'محمد فرحات اوتوموتيڤ',
 'Mohamed',
 'Tarek',
 'عبد',
 'Mohamed Fahmi Cars',
 'Automobile El Basha',
 'Auto Auction',
 'Hosam Elmahdy',
 'Vip Motor',
 'Vip Motor',
 'ابو مالك',
 'احمد',
 'ابو مصطفى',
 'youssefff',
 'Mohamed Fahmi Cars',
 'sara',
 'Auto 4 You',
 'Auto 4 You',
 'Auto 4 You',
 'Ghandour Auto',
 'Auto 4 You',
 'المالك',
 'OLX Userمحمد',
 'khairy',
 'Baher douara',
 'OLX User',
 'Mazen',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'احمد ',
 'Mohamed Fahmi Cars',
 'Ghandour Auto',
 'محمود',
 'OLX User',
 'احمد',
 'olx user',
 'seif',
 'SR Motors',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'يوسف محمد',
 'Bee',
 'abdelrahman',
 'Mohamed Fahmi Cars',
 'Mohamed',
 'M A.E.Shahid',
 'mohamed ',
 'Vip Motor',
 'Vip Motor',
 'khaled Aboud automotive',
 'OLX User',
 'Kareem',
 'البشمهندس مينا',
 'مصطفي ابراهيم',
 'مصطفي ابراهيم',
 'مصطفي ابراهيم',
 'El Mahsoub CAR',
 'El Mahsoub CAR',
 'Diamond Automotive',
 'محمد',
 'صاحب السيارة',
 'Diamond Automotive',
 'masibrahim',
 'المالك',
 'ahmed',
 'SR Motors',
 'Mina',
 'Gaming',
 'خالد عبد الهادى',
 'Khaled',
 'OLX User',
 'Ahmed',
 'أستاذ محمد ',
 'seif tarek',
 'seif',
 'ذكرلله',
 'Ashraf El-Saeed',
 'Free auto',
 'Diamond Automotive',
 'عبداللطيف محدي',
 'zizoautomoive',
 'احمد',
 'fady',
 'محمد',
 'محمد',
 'Dr Mohamed',
 'Wageh',
 'Leaders motors',
 'OLX User',
 'Hassan',
 'أبو قيس',
 'ياسر سيد عبده',
 'OLX User',
 'Dr salama',
 'Ahmed',
 'محمود',
 'Tamer',
 'MOHSEN MAGDY',
 'ابو مالك ',
 'ابو مالك',
 'Name',
 'omar',
 'Amr',
 'Leaders motors',
 'mostafa',
 'يوسف',
 'El Khial Motors',
 'الزينة للسيارات',
 'محمد',
 'Mikil',
 'motor one',
 'motor one',
 'motor one',
 'محمد',
 'محمد صفوت',
 'Auto Garage',
 'Auto Garage',
 'Poles',
 'حامد',
 'OLX User',
 'mark1',
 'محمد ناصر',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'Motor One',
 'mina magdy',
 '2M Motors',
 'Kamel Mohamed',
 'Eng.Mo’men',
 'mohsen magdy',
 'Vip Motor',
 'SR Motors',
 'Owner',
 'mohamed soker',
 'ahmed',
 ' كرم الجمال',
 'owner',
 'محمود عبيد',
 'Naghib',
 'Free auto',
 'MMoner',
 'IMG MOTORS',
 'محمد عبد العظيم',
 'مينا',
 'G Auto',
 'Ahmed',
 'Mostafa Shaheen',
 'المالك',
 'IMG MOTORS',
 'محمد',
 'محمد الهادى',
 'Hany',
 'Ashraf Sadek',
 'محمود',
 'محمد',
 'Mohamed shalaby ',
 'احمد',
 'Ahmed Aly',
 'Amr',
 'Vip Motor',
 'Hazem 11',
 'Hazem 11',
 'المالك0111',
 'Hatem',
 'مالك',
 'Mostafa',
 'البابا شنوده للعقارات',
 'جمال',
 'Dr abdelrahman',
 'mohamed',
 'Muhamed youssef',
 'محمود',
 'amr',
 'المهندس احمد الحسيني',
 'Kareem',
 'salah ahmed',
 'ahmed ',
 'البراق',
 'OWNER 012',
 'البراق',
 'البراق',
 'البراق',
 'OLX User',
 'OLX User',
 'Mahmoud',
 'محمد على',
 'Legend automotive',
 'Be Do',
 'محمود ',
 'OLX User',
 'OLX User',
 'power trade',
 'جهاد عوده',
 'power trade',
 'power trade',
 'power trade',
 'xxx',
 'Sherief elagamy',
 'Ahmed',
 'Platinum Auto',
 'Platinum Auto',
 'eman ahmed',
 'احمد محسن ',
 'محمد',
 'Abdelrahman',
 'Wessam Gamil',
 'Leaders motors',
 'صاحب المدونة',
 'Leaders motors',
 'OLX User',
 'Marwan Abu Radi',
 ' Mahmoud El Wrdany ',
 'محمد',
 'OLX User',
 'Ahmed Adel',
 'Abdel -Rahman Hossam',
 'moustafa abozeid',
 'عمرو بهاء',
 'محمد ناصر',
 'خالد',
 'OLX User',
 'El Mahsoub CAR',
 'Ahmed awadallah',
 'محمد',
 'El Mahsoub CAR',
 'Al Nemaky',
 'El Mahsoub CAR',
 'Mohamed adel',
 'El Mahsoub CAR',
 'El Mahsoub CAR',
 'fredz ',
 'OLX User',
 'أيمن',
 'fredz ',
 'Zizi Azzazy',
 'Yousef Mahmoud',
 'rafik',
 'OLX User',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'محمد احمد',
 'عمر ',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'اسلام',
 'Ibrahimahmed',
 'Mostafa abd el aziz',
 'Mostafa abd el aziz',
 'مكتب فرح',
 'احمد نصار ',
 'Meniawy',
 'sayeed',
 'El-Sayaad Auto',
 'Auto Auction',
 'Autopark',
 'Mohamed El Hosary',
 'Urban Automotive',
 'عبدالله',
 'El-Sayaad Auto',
 'MoeBehairy',
 'OLX User',
 'Army motors',
 'Army motors',
 'محمد صلاح الزياتي ',
 'First Class Auto',
 'Michael',
 'ابو يوسف',
 'وجدى',
 'المالك',
 'muhammed',
 'Ahmed',
 'Dr belal zain',
 'OLX User',
 'المالك',
 'AM garage ',
 'OLX User',
 'X motors',
 'سوق السيارات',
 'سوق السيارات',
 'سوق السيارات',
 'سوق السيارات',
 'سوق السيارات',
 'سوق السيارات',
 'esaa',
 'هبه',
 'الحاج وليد',
 'OLX User',
 'منير',
 'Ahmed Mansour',
 'المالك',
 'OLX User',
 'المعلن',
 'ahmed alfahd',
 'Gear Up',
 'باسم باسم',
 'yassen',
 'OLX User',
 'khaled Aboud automotive',
 'Hossam Alaa',
 'mina',
 'ابو ماريو ',
 'Emad',
 's a ',
 'Emad',
 'Shesheny Motors',
 'Shesheny Motors',
 'Mohamed',
 'amr mohamed',
 'محمد عبد العظيم',
 'rania',
 'AM garage ',
 'Younes',
 'aziz',
 'El-Eman Electric Cars',
 'olx U.S',
 'OLX User',
 'Egypt Motors',
 'Abdulrahman Ahmed',
 'شادى محمد',
 'Ali',
 'OLX User',
 'Zahran Motors',
 'Adam',
 'OLX User',
 'شريف',
 'OLX User',
 'Hassan',
 'OLX User',
 'Abdelrahman',
 'OLX User',
 'يوسف ابو عبده',
 'Ibrahem',
 'Auto Gate',
 'AM GARAGE',
 'Auto Gate',
 'No name',
 'Auto Gate',
 'Abdelrehim sayed',
 'محمود',
 'عماد كمال',
 'Auto Gate',
 'Eng.Ahmed Ismail ',
 'Hisham',
 'Magy',
 'Dr 2',
 'mahmoud mansour',
 'Ahmed hamdy',
 'OLX User',
 'Shady samer',
 'المالك',
 'Plan B',
 'Plan B',
 'Plan B',
 'Plan B',
 'Hazem Mustafa',
 'Automobile El Basha',
 'Shady samer',
 'OLX User',
 'محمد',
 'Adham hazem',
 'ام ابانوب',
 'ام ابانوب',
 'Elite Auto Motive',
 'Global Auto',
 'OLX User',
 'Global Auto',
 'Global Auto',
 'Global Auto',
 'Global Auto',
 'OLX User',
 'amr',
 'muhammed ahmed ',
 'احمد',
 'Mustafa Ibrahim',
 'Marawan Habib',
 'sameh nader',
 'محمد صلاح',
 'eng khaled mohamed',
 'Black Edition cars',
 'Black Edition cars',
 'Ford Focus',
 'احمد سعد',
 'Mohmamed emam',
 'Auto Run',
 'د خالد على ',
 'OLX User',
 'Auto Run',
 'sameh nader',
 'المهندس احمد',
 'dr',
 'OLX User',
 'OLX User',
 'Mohamed',
 'مع الله',
 'George',
 'Arch Belal',
 'Alaa hesham',
 'محمد',
 'Mohamed Hassan',
 'OLX User',
 'صاحب السيارة',
 'OLX User',
 'OLX User',
 'BO',
 'ادم',
 'صاحب السيارة',
 'Mostafa Mekawy',
 'OLX User',
 'هبه',
 'محمد',
 'سامح',
 'فريد',
 'Ahmed',
 'وحيد ',
 'Mohamed Esa',
 'ام كاراس',
 'انطونيوس',
 'Auto Dubai',
 'OLX User',
 'إبراهيم بدر',
 'Platinum Auto',
 'Waseem',
 'OLX User',
 'Mohammad marzouk',
 'Auto Dubai',
 'ريموندا ',
 'Hatem',
 'مدام ماجي',
 'Platinum Auto',
 'Tawakol',
 'Mohamed Tawakol',
 'Platinum Auto',
 'Yossif',
 'كريم نبيل',
 'Platinum Auto',
 'Awsamahmed',
 'mo',
 'ام بولا',
 'فريد',
 'sarah ',
 'ELRizk Trading',
 'OLX User',
 'Rana',
 'فتح الله',
 'OLX User',
 'Ataf',
 'البرنس البرنس',
 'Leaders motors',
 'El-Tayaran Cars',
 'شريف',
 'منى',
 'Islam Hosni',
 'Trust One ',
 'مينا أيوب ',
 'tarek',
 'Al Ahmady Motors',
 ' Mahmoud El Wrdany ',
 'user',
 'Ahmed',
 'OLX User',
 'mohamed',
 'اشرف',
 'Mohamed Raouf',
 'Omar',
 'Hamada',
 'Elite Auto Motive',
 'Hogo',
 'م/ حسن  درويش ',
 'Ahmed',
 'Omar',
 'محمد الجندي',
 'ناصر السيد',
 'المالك',
 'XDrive Automotive',
 'محمود عوض',
 'محمود عوض',
 'Ahmed Galal',
 'Omar',
 'XDrive Automotive',
 'OLX User',
 'user4 ',
 'عبدالرحمن',
 'mahmoud elgendy',
 'OLX User',
 'Amr Maher El-Mosalamy',
 'Mohamed Negm',
 'Egypt Motors',
 'OLX User',
 'Auto Gate',
 'Auto Gate',
 'Auto Gate',
 'michael',
 'Essam',
 'أحمد عزام',
 'رامي لويس',
 'Ahmed',
 'Mohamed Shabaan ',
 'بوب',
 'محمد',
 'عمر حسام',
 'Autopark',
 'ALHASAN ALBASUONY',
 'King sun',
 'Army motors',
 'Army motors',
 'SR Motors',
 'New Star Automotive',
 'حمدي',
 'Mohamed Madian',
 'SR Motors',
 'Mina',
 'Vroom',
 'Ahmed essam',
 'Auto 4 You',
 'owner',
 'ام كاراس',
 'Karim El gammal',
 'المالك',
 'Autopark',
 'ابو يعقوب',
 'El Khial Motors',
 'OLX User',
 'Auto 4 You',
 'SR Motors',
 'Ghandour Auto',
 'Vip Motor',
 'Ghandour Auto',
 'ابو يوسف',
 'Mohamed Esa',
 'Ahmed ezz',
 'Vip Motor',
 'عيسي',
 'SR Motors',
 'amr mostfa',
 'ayman liby',
 'SR Motors',
 'Vip Motor',
 'SR Motors',
 'IMG MOTORS',
 'Vip Motor',
 'شركة  دريمز',
 'SR Motors',
 'Amir',
 'OLX User',
 'عبدالله',
 'Ghandour Auto',
 'Ghandour Auto',
 'Ghandour Auto',
 'Vip Motor',
 'Maged Sayed',
 'Auto El-Badry',
 'محمد',
 'Abdelfattah Ahmed',
 'OLX User',
 'Ahmed Fahmy',
 'Karim El gammal',
 'el nogom motors',
 'حاتم التهامى ',
 'OLX User',
 'OLX User',
 'علاء',
 'OLX User',
 'عبد الرحمن',
 ' مصطفي سيد',
 'OLX User',
 'عاطف',
 'أحمد ',
 'Diamond Automotive',
 'Diamond Automotive',
 'karem',
 'karem',
 'Sinan Alghanem',
 'karem',
 'Hana Mohamed ',
 'Hana Mohamed ',
 'Honda US',
 'mahmoud ',
 'Ahmed',
 'AM GARAGE',
 'Mohamed',
 'G Auto',
 'المهندس احمد الحسيني',
 'Mohamed',
 'عبدالرحمن ناصر',
 'Auto Auction',
 'Auto Auction',
 'Auto Auction',
 'Auto Auction',
 'مصطفى',
 'علاء عبد المطلب',
 'Eman Seadah',
 'المالك',
 'Smart Car',
 'Smart Car',
 'Smart Car',
 'OLX User',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'Mohamed Fahmi Cars',
 'Morad',
 'علاء عبد المطلب',
 'Ahmed',
 'osama hosney',
 'Mss',
 'البابا شنوده للعقارات',
 'Amr gamal',
 'OLX User',
 'aly',
 'Owner',
 'Salma Elkhamy',
 'Auto Gate',
 'First Class Auto',
 'First Class Auto',
 'Auto Gate',
 'First Class Auto',
 'Ahmed Tarek',
 'OLX User',
 'صلاح حوده',
 'mina',
 'SR Motors',
 'Legend automotive',
 'SR Motors',
 'SR Motors',
 'SR Motors',
 'OLX User',
 'SR Motors',
 'olx user',
 'طارق الجمال',
 'Ehab',
 'على',
 'SR Motors',
 'Mohamed',
 'SR Motors',
 'Auto Land',
 'Legend automotive',
 'SR Motors',
 'SR Motors',
 'Legend automotive',
 'SR Motors',
 'SR Motors',
 'Salahnour',
 'OLX User',
 'BMW 318',
 'Mohammed',
 'SR Motors',
 'Mohammed Ali',
 'Mohamed Shalpy',
 'OLX User',
 'SR Motors',
 'Ahmed Shallal',
 'White Exotic Cars',
 'White Exotic Cars',
 'Vroom',
 'White Exotic Cars',
 'Mohab Barakat',
 'Auto Dubai',
 'ابراهيم',
 'OLX User',
 'Maged Sabry',
 'Saif Auto Trade',
 'Judy Motors',
 'Judy Motors',
 'Waleed Salama',
 'عاصم جاد',
 'غباشي',
 'ادهم المنشاوى',
 'غباشي',
 'mohamed khalil',
 'ايمن احمد',
 'OLX User',
 'Samuel',
 'OLX User',
 'Mohamed ',
 'Vip Motor',
 'Ali',
 'hyundai accent',
 'khaled Aboud automotive',
 'khaled Aboud automotive',
 'khaled Aboud automotive',
 'OLX User',
 'khaled Aboud automotive',
 'khaled Aboud automotive',
 'مجدى',
 'OLX User',
 'مينا سيدهم',
 'البوب',
 'khaled Aboud automotive',
 'khaled Aboud automotive',
 'ELRizk Trading',
 'ا خالد',
 'khaled Aboud automotive',
 'نور الديب',
 'khaled Aboud automotive',
 'khaled Aboud automotive',
 'Mohamed',
 'محمد',
 'حسن مصطفي',
 'برنامج شارع الندي',
 'ماجد نبيل',
 'Luxury Motors',
 'المالك',
 'Af',
 'شريف',
 'OLX User',
 'AM GARAGE',
 'New Star Automotive',
 'نادر',
 'Moustafa Farahat',
 'AM GARAGE',
 'roni kandil',
 'Mahmoud',
 'حسام',
 'Mohamed Monsef',
 'shady',
 'حسام دياب',
 'OLX User',
 'Ahmed',
 'عبدالله',
 'Omar Kamel',
 'OLX USER',
 'Islam Taha',
 'انس',
 'يوسف',
 'المصطفي لتجارة السيارات',
 'Ahmed',
 'mohamed',
 'power trade',
 'سامح',
 'olx user',
 'الغزاوى موتورز',
 'محمد',
 'احمد عماد',
 'owner',
 'ابو عبد الرحمن',
 'محمد',
 'محمد المصرى',
 'أحمد',
 'محمد المصرى',
 'El-Eman Electric Cars',
 'Luxury Motors',
 'Ahmed Soliman ',
 'XDrive Automotive',
 'Mohamed',
 'El-Masry-Motors',
 'Islam',
 'ابو عبد الرحمن',
 '☠️💀☠️',
 'OLX User',
 'Soso',
 'احمد سلامه',
 'OLX User',
 'X motors',
 'ahmed Eid ',
 'محمد',
 'OLX User',
 'OLX User',
 'mohammed',
 'Saif Auto Trade',
 'OLX User',
 'Rania Mohamed',
 'Haitham  mohamed',
 'G Auto',
 'أبو قيس',
 ...]

In [127]:
Ads["Owner_Name"] = names

In [128]:
Ads.drop("OwnerProfileLink", inplace= True, axis = 1)

In [129]:
Ads

,Unnamed: 0,Brand,AD_ID,Transmission Type,Description,Model,Year,Color,Location,Fuel Type,...,phone_number,posting date,link_number,Price,Lower_Engine_Capacity,Upper_Engine_Capacity,Higher_Engine_Capacity,Lower_Kilometers,Upper_Kilometers,Owner_Name
0,0,Toyota,196489274,Automatic,تويوتا كورولا 2020\nالفئة الأولى\n40 ألف كيلو\...,Corolla,2020,White,"Heliopolis, Cairo",Benzine,...,+201000008887,2023-03-22,0.0,725000,1600,1600,1600,30000.0,39999.0,Egypt Motors
1,1,Suzuki,194198611,Automatic,سوزوكي دايزاير يوجد عدة أنظمة للتقسيط تصل إلي ...,Dzire,2022,Other Color,"Nasr City, Cairo",Benzine,...,+201118887282,2023-03-24,1.0,90000,1000,1300,1300,NaN,NaN,Mostafa abd el aziz
2,2,MG,184729021,Automatic,اقل سعر وتسليم فوريجميع الفأت والألوان\nاستمتع...,MG 5,2022,Blue- Navy Blue,"Nasr City, Cairo",Benzine,...,+201026697964,2023-03-25,2.0,160000,1400,1500,1500,NaN,NaN,Auto 4 You
3,3,Skoda,196217849,Automatic,"سكودا سوبيرب 2022 اول قسط هدية , بدون تأمين , ...",Superb,2023,Blue- Navy Blue,"New Cairo - El Tagamoa, Cairo",Benzine,...,+201278889817,2023-03-26,3.0,413750,1400,1500,1500,NaN,NaN,Xtreme auto
4,4,Audi,196255693,Automatic,Audi A3 S-Line Sportback 2022\n\nRed X OffWhit...,A3,2022,Red,"Nasr City, Cairo",Benzine,...,+201005515700,2023-03-24,5.0,1650000,1400,1500,1500,NaN,NaN,Shesheny Motors
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,954,BMW,196048110,Automatic,بحاله ممتازة استعمال راقى الفتيس الجديد الماتو...,X5,2007,NaN,"Downtown Cairo, Cairo",Benzine,...,+201223309921,2023-02-27,4073.0,850000,3000,3000,3000,120000.0,139999.0,ashraf
3392,955,Lada,196053009,Manual,لادا روسي دواخل فابريكا رخصه سنتين,2107,2009,Burgundy,"Waili, Cairo",Benzine,...,+201146376008,2023-02-27,4074.0,70000,1600,1600,1600,NaN,NaN,احمد
3393,956,Chevrolet,196052996,Automatic,شيفروليه اوبترا 2022\nاعلى فئه فتحه سقف فابريك...,Optra,2022,Gray,"Downtown Cairo, Cairo",Benzine,...,+201146256167,2023-02-27,4075.0,395000,1600,1600,1600,30000.0,39999.0,OLX User
3394,957,Mercedes-Benz,196053001,Automatic,GLC 300 suv black color,GLC 300,2019,Black,"New Cairo - El Tagamoa, Cairo",Benzine,...,+201003512720,2023-02-27,4076.0,2600000,2200,2800,2800,80000.0,89999.0,Omar Eissa
3395,958,Mazda,196052868,Automatic,مازدا 3 موديل 2008 كاملة اوتوماتيك فتحة السقف ...,3,2008,Gray,"New Cairo - El Tagamoa, Cairo",Benzine,...,+201007614491,2023-02-27,4077.0,265000,1600,1600,1600,200000.0,200000.0,Hamdy Abd Elbadeea

In [137]:
lens = []
for i in range(0, len(Ads)):
    arr = Ads["Location"][i].split(",")
    lens.append(len(arr))

In [135]:
lens = np.array(lens)
np.unique(lens)

array([1, 2])

In [139]:
Governorate = []
City= []
for i in range(0, len(Ads)):
    arr = Ads["Location"][i].split(",")
    if(len(arr) == 2):
        City.append(arr[0])
        Governorate.append(arr[1])
    else:
        City.append(arr[0])
        Governorate.append(arr[0])

In [142]:
Ads["City"] = City
Ads["Governorate"] = Governorate

In [143]:
Ads.drop("Location", inplace= True, axis =1)

In [144]:
Ads

,Unnamed: 0,Brand,AD_ID,Transmission Type,Description,Model,Year,Color,Fuel Type,Condition,...,link_number,Price,Lower_Engine_Capacity,Upper_Engine_Capacity,Higher_Engine_Capacity,Lower_Kilometers,Upper_Kilometers,Owner_Name,City,Governorate
0,0,Toyota,196489274,Automatic,تويوتا كورولا 2020\nالفئة الأولى\n40 ألف كيلو\...,Corolla,2020,White,Benzine,Used,...,0.0,725000,1600,1600,1600,30000.0,39999.0,Egypt Motors,Heliopolis,Cairo
1,1,Suzuki,194198611,Automatic,سوزوكي دايزاير يوجد عدة أنظمة للتقسيط تصل إلي ...,Dzire,2022,Other Color,Benzine,New,...,1.0,90000,1000,1300,1300,NaN,NaN,Mostafa abd el aziz,Nasr City,Cairo
2,2,MG,184729021,Automatic,اقل سعر وتسليم فوريجميع الفأت والألوان\nاستمتع...,MG 5,2022,Blue- Navy Blue,Benzine,New,...,2.0,160000,1400,1500,1500,NaN,NaN,Auto 4 You,Nasr City,Cairo
3,3,Skoda,196217849,Automatic,"سكودا سوبيرب 2022 اول قسط هدية , بدون تأمين , ...",Superb,2023,Blue- Navy Blue,Benzine,New,...,3.0,413750,1400,1500,1500,NaN,NaN,Xtreme auto,New Cairo - El Tagamoa,Cairo
4,4,Audi,196255693,Automatic,Audi A3 S-Line Sportback 2022\n\nRed X OffWhit...,A3,2022,Red,Benzine,New,...,5.0,1650000,1400,1500,1500,NaN,NaN,Shesheny Motors,Nasr City,Cairo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,954,BMW,196048110,Automatic,بحاله ممتازة استعمال راقى الفتيس الجديد الماتو...,X5,2007,NaN,Benzine,Used,...,4073.0,850000,3000,3000,3000,120000.0,139999.0,ashraf,Downtown Cairo,Cairo
3392,955,Lada,196053009,Manual,لادا روسي دواخل فابريكا رخصه سنتين,2107,2009,Burgundy,Benzine,New,...,4074.0,70000,1600,1600,1600,NaN,NaN,احمد,Waili,Cairo
3393,956,Chevrolet,196052996,Automatic,شيفروليه اوبترا 2022\nاعلى فئه فتحه سقف فابريك...,Optra,2022,Gray,Benzine,Used,...,4075.0,395000,1600,1600,1600,30000.0,39999.0,OLX User,Downtown Cairo,Cairo
3394,957,Mercedes-Benz,196053001,Automatic,GLC 300 suv black color,GLC 300,2019,Black,Benzine,Used,...,4076.0,2600000,2200,2800,2800,80000.0,89999.0,Omar Eissa,New Cairo - El Tagamoa,Cairo
3395,958,Mazda,196052868,Automatic,مازدا 3 موديل 2008 كاملة اوتوماتيك فتحة السقف ...,3,2008,Gray,Benzine,Used,...,4077.0,265000,1600,1600,1600,200000.0,200000.0,Hamdy Abd Elbadeea,New Cairo - El Tagamoa,Cairo

In [145]:
Ads.columns

Index(['Unnamed: 0', 'Brand', 'AD_ID', 'Transmission Type', 'Description',
       'Model', 'Year', 'Color', 'Fuel Type', 'Condition', 'Body Type',
       'Payment Options', 'user_email', 'phone_number', 'posting date',
       'link_number', 'Price', 'Lower_Engine_Capacity',
       'Upper_Engine_Capacity', 'Higher_Engine_Capacity', 'Lower_Kilometers',
       'Upper_Kilometers', 'Owner_Name', 'City', 'Governorate'],
      dtype='object')

In [146]:
Ads.drop("link_number", inplace= True, axis = 1)

In [147]:
numbers = []
for i in range(0, len(Ads)):
    numbers.append(str(Ads["phone_number"][i]))

In [148]:
Ads["phone_number"] = numbers

In [156]:
Ads.rename(columns = {"Transmission Type":"Transmission_Type",
                     "Fuel Type":"Fuel_Type",
                     "posting date":"Posting_Date",
                     "Body Type": "Body_Type",
                     "Payment Options":"Payment_Options",
                     "phone_number":"Owner_Phone_Number"}, inplace= True)

In [150]:
Ads.columns

Index(['Unnamed: 0', 'Brand', 'AD_ID', 'Transmission_Type', 'Description',
       'Model', 'Year', 'Color', 'Fuel_Type', 'Condition', 'Body Type',
       'Payment Options', 'user_email', 'phone_number', 'Posting_Date',
       'Price', 'Lower_Engine_Capacity', 'Upper_Engine_Capacity',
       'Higher_Engine_Capacity', 'Lower_Kilometers', 'Upper_Kilometers',
       'Owner_Name', 'City', 'Governorate'],
      dtype='object')

In [151]:
Ads

,Unnamed: 0,Brand,AD_ID,Transmission_Type,Description,Model,Year,Color,Fuel_Type,Condition,...,Posting_Date,Price,Lower_Engine_Capacity,Upper_Engine_Capacity,Higher_Engine_Capacity,Lower_Kilometers,Upper_Kilometers,Owner_Name,City,Governorate
0,0,Toyota,196489274,Automatic,تويوتا كورولا 2020\nالفئة الأولى\n40 ألف كيلو\...,Corolla,2020,White,Benzine,Used,...,2023-03-22,725000,1600,1600,1600,30000.0,39999.0,Egypt Motors,Heliopolis,Cairo
1,1,Suzuki,194198611,Automatic,سوزوكي دايزاير يوجد عدة أنظمة للتقسيط تصل إلي ...,Dzire,2022,Other Color,Benzine,New,...,2023-03-24,90000,1000,1300,1300,NaN,NaN,Mostafa abd el aziz,Nasr City,Cairo
2,2,MG,184729021,Automatic,اقل سعر وتسليم فوريجميع الفأت والألوان\nاستمتع...,MG 5,2022,Blue- Navy Blue,Benzine,New,...,2023-03-25,160000,1400,1500,1500,NaN,NaN,Auto 4 You,Nasr City,Cairo
3,3,Skoda,196217849,Automatic,"سكودا سوبيرب 2022 اول قسط هدية , بدون تأمين , ...",Superb,2023,Blue- Navy Blue,Benzine,New,...,2023-03-26,413750,1400,1500,1500,NaN,NaN,Xtreme auto,New Cairo - El Tagamoa,Cairo
4,4,Audi,196255693,Automatic,Audi A3 S-Line Sportback 2022\n\nRed X OffWhit...,A3,2022,Red,Benzine,New,...,2023-03-24,1650000,1400,1500,1500,NaN,NaN,Shesheny Motors,Nasr City,Cairo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,954,BMW,196048110,Automatic,بحاله ممتازة استعمال راقى الفتيس الجديد الماتو...,X5,2007,NaN,Benzine,Used,...,2023-02-27,850000,3000,3000,3000,120000.0,139999.0,ashraf,Downtown Cairo,Cairo
3392,955,Lada,196053009,Manual,لادا روسي دواخل فابريكا رخصه سنتين,2107,2009,Burgundy,Benzine,New,...,2023-02-27,70000,1600,1600,1600,NaN,NaN,احمد,Waili,Cairo
3393,956,Chevrolet,196052996,Automatic,شيفروليه اوبترا 2022\nاعلى فئه فتحه سقف فابريك...,Optra,2022,Gray,Benzine,Used,...,2023-02-27,395000,1600,1600,1600,30000.0,39999.0,OLX User,Downtown Cairo,Cairo
3394,957,Mercedes-Benz,196053001,Automatic,GLC 300 suv black color,GLC 300,2019,Black,Benzine,Used,...,2023-02-27,2600000,2200,2800,2800,80000.0,89999.0,Omar Eissa,New Cairo - El Tagamoa,Cairo
3395,958,Mazda,196052868,Automatic,مازدا 3 موديل 2008 كاملة اوتوماتيك فتحة السقف ...,3,2008,Gray,Benzine,Used,...,2023-02-27,265000,1600,1600,1600,200000.0,200000.0,Hamdy Abd Elbadeea,New Cairo - El Tagamoa,Cairo

In [152]:
Ads.drop(Ads.columns[Ads.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [157]:
Ads.columns

Index(['Brand', 'AD_ID', 'Transmission_Type', 'Description', 'Model', 'Year',
       'Color', 'Fuel_Type', 'Condition', 'Body_Type', 'Payment_Options',
       'user_email', 'Owner_Phone_Number', 'Posting_Date', 'Price',
       'Lower_Engine_Capacity', 'Upper_Engine_Capacity',
       'Higher_Engine_Capacity', 'Lower_Kilometers', 'Upper_Kilometers',
       'Owner_Name', 'City', 'Governorate'],
      dtype='object')

In [160]:
Purchase_Price = []
Textual_Review = []
Numeric_Rating =[]
for i in range(0, len(Ads)):
    Purchase_Price.append(None)
    Textual_Review.append(None)
    Numeric_Rating.append(None)

In [161]:
Ads["Purchase_Price"] = Purchase_Price
Ads["Textual_Review"] = Textual_Review
Ads["Numeric_Rating"] = Numeric_Rating

In [162]:
Ads.to_csv("Ads_table.csv")

In [159]:
Owners

,Unnamed: 0,Owner Name,Phone Number,Profile Link,Join Date,Extra Numbers
0,0,Egypt Motors,+201000008887,https://www.olx.com.eg/en/companies/Egypt-Moto...,Member since Jan 2016,NaN
1,1,Mostafa abd el aziz,+201118887282,https://www.olx.com.eg/en/companies/Mostafa-ab...,Member since Jun 2017,NaN
2,2,Auto 4 You,+201026697964,https://www.olx.com.eg/en/companies/auto-4-you...,Member since Sept 2020,NaN
3,3,Xtreme auto,+201278889817,https://www.olx.com.eg/en/companies/Xtreme-aut...,Member since Feb 2023,NaN
4,4,Shesheny Motors,+201005515700,https://www.olx.com.eg/en/companies/shesheny-m...,Member since Dec 2016,NaN
...,...,...,...,...,...,...
3391,954,ashraf,+201223309921,https://www.olx.com.eg/en/profile/34895798-a88...,Member since Dec 2016,NaN
3392,955,احمد,+201146376008,https://www.olx.com.eg/en/profile/f8714e19-b72...,Member since Feb 2023,NaN
3393,956,OLX User,+201146256167,https://www.olx.com.eg/en/profile/590171d0-b8b...,Member since Feb 2023,NaN
3394,957,Omar Eissa,+201003512720,https://www.olx.com.eg/en/profile/caf72116-52f...,Member since Mar 2018,NaN
3395,958,Hamdy Abd Elbadeea,+201007614491,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,Member since Sept 2017,NaN

In [163]:
Owners["Phone Number"] = numbers

In [165]:
Cars["Year"] = years

In [167]:
Cars_Features = Cars

In [178]:
Cars.rename(columns = {"Transmission Type":"Transmission_Type"}, inplace = True)

In [200]:
Years = []
Brand = []
Model = []
Transmission_Type= []
Lower_Engine_Capacity= []
Upper_Engine_Capacity= []
Features = []
for i in range(0, len(Cars)):
    lis = Cars["Features"][i][1:len(Cars["Features"][i])-1].split(",")
    #print(lis)
    Li = []
    if(len(lis) > 1):
        for j in range(0,len(lis)):
            Years.append(Cars["Year"][i])
            Brand.append(Cars["Brand"][i])
            Model.append(Cars["Model"][i])
            Transmission_Type.append(Cars["Transmission_Type"][i])
            Lower_Engine_Capacity.append(Cars["Lower_Engine_Capacity"][i])
            Upper_Engine_Capacity.append(Cars["Upper_Engine_Capacity"][i])
            if(j > 1):
                Features.append(lis[j][2:len(lis[j])-1])
            else:
                Features.append(lis[j][1:len(lis[j])-1])

In [201]:
Features

['ABS',
 "'Air Conditioning",
 'Airbags',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'Alarm/Anti-Theft System',
 "'AM/FM Radio",
 'Bluetooth System',
 'Keyless Start',
 'Off-Road Tyres',
 'Power Locks',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Roof Rack',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Aux Audio In',
 'Bluetooth System',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'Keyless Start',
 'Parking Sensors',
 'Power Mirrors',
 'Power Windows',
 'Rear View Camera',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'Bluetooth System',
 "'Cruise Control",
 'Keyless Start',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Windows',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'Air Conditioning',
 "'Airbags",
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Windows',
 'Rear View Camera',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Alarm/Anti-Theft System",
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Sunroof',
 'Touch Screen',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Rear View Camera',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'Touch Screen',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'AM/FM Radio',
 "'Aux Audio In",
 'Fog Lights',
 'Power Steering',
 'Power Windows',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Roof Rack',
 'Sunroof',
 'Touch Screen',
 'USB Charger',
 'Air Conditioning',
 "'Airbags",
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'Fog Lights',
 'Power Locks',
 'Power Mirrors',
 'Power Steering',
 'Power Windows',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'Keyless Start',
 'Leather Seats',
 'Navigation System',
 'Off-Road Tyres',
 'Parking Sensors',
 'Power Locks',
 'Power Mirrors',
 'Power Seats',
 'Power Steering',
 'Power Windows',
 'Premium Wheels/Rims',
 'Rear View Camera',
 'Touch Screen',
 'USB Charger',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 'Alarm/Anti-Theft System',
 'AM/FM Radio',
 'Aux Audio In',
 'Bluetooth System',
 'Cruise Control',
 'EBD',
 'Fog Lights',
 'ABS',
 "'Air Conditioning",
 'Airbags',
 ...]

In [193]:
Cars["Features"][2]

"['ABS', 'Air Conditioning', 'Airbags', 'Alarm/Anti-Theft System', 'AM/FM Radio', 'Aux Audio In', 'Bluetooth System', 'Cruise Control', 'EBD', 'Fog Lights', 'Keyless Start', 'Leather Seats', 'Navigation System', 'Off-Road Tyres', 'Parking Sensors', 'Power Locks', 'Power Mirrors', 'Power Seats', 'Power Steering', 'Power Windows', 'Rear View Camera', 'Sunroof', 'Touch Screen', 'USB Charger']"

In [202]:
Cars_Features = pd.DataFrame()
Cars_Features["Brand"] = Brand

In [203]:
Cars_Features["Model"] = Model
Cars_Features["Year"] = Years
Cars_Features["Transmission_Type"] = Transmission_Type
Cars_Features["Lower_Engine_Capacity"] =  Lower_Engine_Capacity
Cars_Features["Upper_Engine_Capacity"] = Upper_Engine_Capacity
Cars_Features

,Brand,Model,Year,Transmission_Type,Lower_Engine_Capacity,Upper_Engine_Capacity
0,Suzuki,Dzire,2022,Automatic,1000,1300
1,Suzuki,Dzire,2022,Automatic,1000,1300
2,Suzuki,Dzire,2022,Automatic,1000,1300
3,MG,MG 5,2022,Automatic,1400,1500
4,MG,MG 5,2022,Automatic,1400,1500
...,...,...,...,...,...,...
36977,Mazda,3,2008,Automatic,1600,1600
36978,Mazda,3,2008,Automatic,1600,1600
36979,Mazda,3,2008,Automatic,1600,1600
36980,Mazda,3,2008,Automatic,1600,1600
36981,Mazda,3,2008,Automatic,1600,1600

In [204]:
Cars_Features["features"] = Features

In [205]:
Cars_Features

,Brand,Model,Year,Transmission_Type,Lower_Engine_Capacity,Upper_Engine_Capacity,features
0,Suzuki,Dzire,2022,Automatic,1000,1300,ABS
1,Suzuki,Dzire,2022,Automatic,1000,1300,'Air Conditioning
2,Suzuki,Dzire,2022,Automatic,1000,1300,Airbags
3,MG,MG 5,2022,Automatic,1400,1500,ABS
4,MG,MG 5,2022,Automatic,1400,1500,'Air Conditioning
...,...,...,...,...,...,...,...
36977,Mazda,3,2008,Automatic,1600,1600,AM/FM Radio
36978,Mazda,3,2008,Automatic,1600,1600,Aux Audio In
36979,Mazda,3,2008,Automatic,1600,1600,Fog Lights
36980,Mazda,3,2008,Automatic,1600,1600,Power Windows
36981,Mazda,3,2008,Automatic,1600,1600,Sunroof

In [206]:
Cars.drop("Features", inplace = True, axis = 1)

In [208]:
Cars.drop(Cars.columns[Cars.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [212]:
Cars.drop_duplicates(inplace= True)

In [214]:
Cars.reset_index(inplace= True, drop = True)

In [215]:
Cars

,Brand,Model,Transmission_Type,Year,Lower_Engine_Capacity,Upper_Engine_Capacity
0,Toyota,Corolla,Automatic,2020,1600,1600
1,Suzuki,Dzire,Automatic,2022,1000,1300
2,MG,MG 5,Automatic,2022,1400,1500
3,Skoda,Superb,Automatic,2023,1400,1500
4,Audi,A3,Automatic,2022,1400,1500
...,...,...,...,...,...,...
1702,Hyundai,Elantra,Automatic,2014,1600,1600
1703,BMW,328,Automatic,2013,1800,2000
1704,BMW,X5,Automatic,2007,3000,3000
1705,Lada,2107,Manual,2009,1600,1600
1706,Mercedes-Benz,GLC 300,Automatic,2019,2200,2800

In [216]:
Cars_Features.drop_duplicates(inplace= True)

In [219]:
Cars_Features

,Brand,Model,Year,Transmission_Type,Lower_Engine_Capacity,Upper_Engine_Capacity,features
0,Suzuki,Dzire,2022,Automatic,1000,1300,ABS
1,Suzuki,Dzire,2022,Automatic,1000,1300,'Air Conditioning
2,Suzuki,Dzire,2022,Automatic,1000,1300,Airbags
3,MG,MG 5,2022,Automatic,1400,1500,ABS
4,MG,MG 5,2022,Automatic,1400,1500,'Air Conditioning
...,...,...,...,...,...,...,...
22199,Mazda,3,2008,Automatic,1600,1600,AM/FM Radio
22200,Mazda,3,2008,Automatic,1600,1600,Aux Audio In
22201,Mazda,3,2008,Automatic,1600,1600,Fog Lights
22202,Mazda,3,2008,Automatic,1600,1600,Power Windows
22203,Mazda,3,2008,Automatic,1600,1600,Sunroof

In [218]:
Cars_Features.reset_index(inplace= True, drop= True)

In [220]:
Cars_Features.to_csv("Cars_Feaures.csv")
Cars.to_csv("Final_Cars.csv")

In [221]:
Owners

,Unnamed: 0,Owner Name,Phone Number,Profile Link,Join Date,Extra Numbers
0,0,Egypt Motors,+201000008887,https://www.olx.com.eg/en/companies/Egypt-Moto...,Member since Jan 2016,NaN
1,1,Mostafa abd el aziz,+201118887282,https://www.olx.com.eg/en/companies/Mostafa-ab...,Member since Jun 2017,NaN
2,2,Auto 4 You,+201026697964,https://www.olx.com.eg/en/companies/auto-4-you...,Member since Sept 2020,NaN
3,3,Xtreme auto,+201278889817,https://www.olx.com.eg/en/companies/Xtreme-aut...,Member since Feb 2023,NaN
4,4,Shesheny Motors,+201005515700,https://www.olx.com.eg/en/companies/shesheny-m...,Member since Dec 2016,NaN
...,...,...,...,...,...,...
3391,954,ashraf,+201223309921,https://www.olx.com.eg/en/profile/34895798-a88...,Member since Dec 2016,NaN
3392,955,احمد,+201146376008,https://www.olx.com.eg/en/profile/f8714e19-b72...,Member since Feb 2023,NaN
3393,956,OLX User,+201146256167,https://www.olx.com.eg/en/profile/590171d0-b8b...,Member since Feb 2023,NaN
3394,957,Omar Eissa,+201003512720,https://www.olx.com.eg/en/profile/caf72116-52f...,Member since Mar 2018,NaN
3395,958,Hamdy Abd Elbadeea,+201007614491,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,Member since Sept 2017,NaN

In [222]:
Owners.drop(Owners.columns[Owners.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [224]:
Owners.drop("Extra Numbers", inplace= True, axis = 1)

In [225]:
Owners

,Owner Name,Phone Number,Profile Link,Join Date
0,Egypt Motors,+201000008887,https://www.olx.com.eg/en/companies/Egypt-Moto...,Member since Jan 2016
1,Mostafa abd el aziz,+201118887282,https://www.olx.com.eg/en/companies/Mostafa-ab...,Member since Jun 2017
2,Auto 4 You,+201026697964,https://www.olx.com.eg/en/companies/auto-4-you...,Member since Sept 2020
3,Xtreme auto,+201278889817,https://www.olx.com.eg/en/companies/Xtreme-aut...,Member since Feb 2023
4,Shesheny Motors,+201005515700,https://www.olx.com.eg/en/companies/shesheny-m...,Member since Dec 2016
...,...,...,...,...
3391,ashraf,+201223309921,https://www.olx.com.eg/en/profile/34895798-a88...,Member since Dec 2016
3392,احمد,+201146376008,https://www.olx.com.eg/en/profile/f8714e19-b72...,Member since Feb 2023
3393,OLX User,+201146256167,https://www.olx.com.eg/en/profile/590171d0-b8b...,Member since Feb 2023
3394,Omar Eissa,+201003512720,https://www.olx.com.eg/en/profile/caf72116-52f...,Member since Mar 2018
3395,Hamdy Abd Elbadeea,+201007614491,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,Member since Sept 2017

In [228]:
Owners.drop_duplicates(inplace = True)

In [230]:
Owners.reset_index(inplace = True, drop = True)

In [231]:
Owners

,Owner Name,Phone Number,Profile Link,Join Date
0,Egypt Motors,+201000008887,https://www.olx.com.eg/en/companies/Egypt-Moto...,Member since Jan 2016
1,Mostafa abd el aziz,+201118887282,https://www.olx.com.eg/en/companies/Mostafa-ab...,Member since Jun 2017
2,Auto 4 You,+201026697964,https://www.olx.com.eg/en/companies/auto-4-you...,Member since Sept 2020
3,Xtreme auto,+201278889817,https://www.olx.com.eg/en/companies/Xtreme-aut...,Member since Feb 2023
4,Shesheny Motors,+201005515700,https://www.olx.com.eg/en/companies/shesheny-m...,Member since Dec 2016
...,...,...,...,...
2078,ashraf,+201223309921,https://www.olx.com.eg/en/profile/34895798-a88...,Member since Dec 2016
2079,احمد,+201146376008,https://www.olx.com.eg/en/profile/f8714e19-b72...,Member since Feb 2023
2080,OLX User,+201146256167,https://www.olx.com.eg/en/profile/590171d0-b8b...,Member since Feb 2023
2081,Omar Eissa,+201003512720,https://www.olx.com.eg/en/profile/caf72116-52f...,Member since Mar 2018
2082,Hamdy Abd Elbadeea,+201007614491,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,Member since Sept 2017

In [232]:
from dateutil.parser import parse

In [259]:
import datetime

In [261]:
join_date = []
for i in range(0, len(Owners)):
    txt = Owners["Join Date"][i].split(" ")
    txt = txt[2]+ " "+txt[3]
    join_date.append(datetime.strftime(parse(txt).date())

In [242]:
Owners.rename(columns = {"Owner Name": "Owner_Name",
                        "Phone Number":"Phone_Number",
                        "Profile Link":"Profile_Link",
                        "Join Date":"Join_Date"}, inplace = True)

In [262]:
Owners["Join_Date"] = join_date

In [263]:
Owners

,Owner_Name,Phone_Number,Profile_Link,Join_Date
0,Egypt Motors,+201000008887,https://www.olx.com.eg/en/companies/Egypt-Moto...,27-01-2016
1,Mostafa abd el aziz,+201118887282,https://www.olx.com.eg/en/companies/Mostafa-ab...,27-06-2017
2,Auto 4 You,+201026697964,https://www.olx.com.eg/en/companies/auto-4-you...,27-09-2020
3,Xtreme auto,+201278889817,https://www.olx.com.eg/en/companies/Xtreme-aut...,27-02-2023
4,Shesheny Motors,+201005515700,https://www.olx.com.eg/en/companies/shesheny-m...,27-12-2016
...,...,...,...,...
2078,ashraf,+201223309921,https://www.olx.com.eg/en/profile/34895798-a88...,27-12-2016
2079,احمد,+201146376008,https://www.olx.com.eg/en/profile/f8714e19-b72...,27-02-2023
2080,OLX User,+201146256167,https://www.olx.com.eg/en/profile/590171d0-b8b...,27-02-2023
2081,Omar Eissa,+201003512720,https://www.olx.com.eg/en/profile/caf72116-52f...,27-03-2018
2082,Hamdy Abd Elbadeea,+201007614491,https://www.olx.com.eg/en/profile/a87d17e8-4cb...,27-09-2017

In [264]:
Owners.to_csv("Final_Owners.csv")

In [252]:
Ads.columns

Index(['Brand', 'AD_ID', 'Transmission_Type', 'Description', 'Model', 'Year',
       'Color', 'Fuel_Type', 'Condition', 'Body_Type', 'Payment_Options',
       'user_email', 'Owner_Phone_Number', 'Posting_Date', 'Price',
       'Lower_Engine_Capacity', 'Upper_Engine_Capacity',
       'Higher_Engine_Capacity', 'Lower_Kilometers', 'Upper_Kilometers',
       'Owner_Name', 'City', 'Governorate', 'Purchase_Price', 'Textual_Review',
       'Numeric_Rating'],
      dtype='object')

# Code for getting the phone numbers from the Description

In [253]:
import re

In [318]:
onames= []
onums = []
oexatr = []
for i in range(0, len(Ads)):
    txt = Ads["Description"][i]
    DPN = re.findall(r'(\+?2?0?\d{10})', txt)
   
    for i in range(0, len(DPN)):
        onames.append(Ads["Owner_Name"][i])
        onums.append(Ads["Owner_Phone_Number"][i])
        oexatr.append(DPN[i])

In [319]:
OwnersExtraNumbers = pd.DataFrame()
OwnersExtraNumbers["Owner_Name"] = onames
OwnersExtraNumbers["Primary_Phone_Number"] = onums
OwnersExtraNumbers["Extra_Number"] = oexatr

In [321]:
OwnersExtraNumbers.drop_duplicates(inplace= True)

In [325]:
OwnersExtraNumbers.reset_index(inplace = True, drop = True)
OwnersExtraNumbers.to_csv("OwnersExtraNumbers.csv")

# Code for faking the user tables

In [255]:
import random

In [294]:
user_name= []
user_email = []
gender= []
birthdate= []
gender=[]
months= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct","Nov", "Dec"]
chars= ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
names= ["Ahmed", "Mohamed", "Omar", "youssif", "Salah", "Salma", "Noura", "Mariam", "Rana", "Fatma"]
genders = ['m','f']
for i in range(0, 100):
    s = random.randint(0,1)
    gender.append(genders[s])
    if(s == 0):
        user_name.append(names[random.randint(0,4)]+ "_"+ names[random.randint(0,4)])
    else:
        user_name.append(names[random.randint(5,9)]+ "_"+ names[random.randint(0,4)])
        
    user_email.append(chars[random.randint(0,25)]+str(i)+"@gmail.com")
    day = random.randint(1,28)
    Year = random.randint(1960,2005)
    dates= str(day)+" "+months[random.randint(0,11)]+ " "+str(Year)
    
    birthdate.append((parse(dates, ignoretz=True)).strftime("%d-%m-%Y"))

In [295]:
users = pd.DataFrame()
users["User_Name"] = user_name
users["Email_Address"] = user_email
users["Birthdate"] = birthdate
users["Gender"] = gender

In [296]:
users

        User_Name  Email_Address   Birthdate Gender
0     Ahmed_Salah   g0@gmail.com  25-06-1976      m
1    Omar_Mohamed   d1@gmail.com  02-03-1963      m
2   Salma_youssif   k2@gmail.com  23-02-1982      f
3    Omar_youssif   d3@gmail.com  22-05-1968      m
4      Omar_Salah   o4@gmail.com  28-05-2004      m
..            ...            ...         ...    ...
95      Omar_Omar  q95@gmail.com  10-04-2004      m
96   Omar_youssif  f96@gmail.com  11-03-1989      m
97    Fatma_Salah  l97@gmail.com  17-12-1995      f
98  Noura_youssif  n98@gmail.com  04-12-1961      f
99    Salma_Ahmed  a99@gmail.com  23-06-1999      f

[100 rows x 4 columns]

In [297]:
users.to_csv("Final_Users.csv")

In [308]:
makes= ["Mercedes-Benz", "BMW", "Toyota", "Nissan", "Kia"]
models= {"Mercedes-Benz" : ["A Class", "B Class", "C Class", "E Class", "S Class"],
        "BMW":["X7", "X6", "X6 M50i", "X5", "X4"], 
        "Toyota" : ["Corolla", "Yaris", "Camry", "Sienna", "Prius"], 
        "Nissan" : ["Sunny", "Qashqai", "Juke", "Sentra", "Micra"], 
        "Kia":["Cerato", "Sportage", "Rio", "Carnival", "Seltos"]}
user= []
make= []
model = []
for i in range(0, len(users)):
    s = random.randint(0,5)
    if(s== 0):
        user.append(users["Email_Address"][i])
        g = random.randint(0,4)
        make.append(makes[g])
        model.append("All")
    else:
        for j in range(0,s):
            user.append(users["Email_Address"][i])
            g = random.randint(0,4)
            make.append(makes[g]) 
            model.append(models[makes[g]][random.randint(0,4)])

In [309]:
user_preferences = pd.DataFrame()
user_preferences["Email_Address"] = user
user_preferences["Make"] = make
user_preferences["Model"] = model

In [310]:
user_preferences

     Email_Address           Make    Model
0     g0@gmail.com            Kia      Rio
1     g0@gmail.com         Nissan  Qashqai
2     g0@gmail.com         Toyota    Prius
3     g0@gmail.com  Mercedes-Benz  A Class
4     d1@gmail.com            BMW       X5
..             ...            ...      ...
287  l97@gmail.com            BMW       X6
288  n98@gmail.com         Toyota    Yaris
289  n98@gmail.com            Kia      Rio
290  n98@gmail.com         Nissan     Juke
291  a99@gmail.com  Mercedes-Benz  S Class

[292 rows x 3 columns]

In [311]:
user_preferences.to_csv("UserCars.csv")